<app-sub-header></app-sub-header>

<div class="container-fluid p-4">
    
    <h4 class="poppins-medium">Search for Customers</h4>

    <div class="row mb-4 text-black poppins-medium item-center">
        <div class="col-4">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
            <input type="text" class="form-control text-xs text-gray-200 poppins-regular h-2" value="" placeholder="Search for orders by order ID">
        </div>
        <div class="col text-right">
            <div class="btn filter"> <img src="assets/images/filter.png" alt="filter"> Filter</div> <div class="btn"> <img src="assets/images/download.png" alt="download"> </div>
        </div>
    </div>

    <div class="row mt-4 scroll">
        <div class="col">
            <table class="table border">
                
                <thead>
                    <tr>
                        <th scope="row">All Customers</th>
                    </tr>
                    <tr class="table-header">
                        <th class="text-center" scope="col">name</th>
                        <th scope="col">emailid</th>
                        <th scope="col">mobile</th>
                        <th scope="col">registered no</th>
                        <th scope="col">registered via</th>
                        <th class="text-center" scope="col">status</th>
                        <th class="text-center" scope="col">action</th>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                         <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"><img src="assets/images/view.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@example.com</td>
                        <td>928728282</td>
                        <td>12/03/23</td>
                        <td>Direct</td>
                        <td><div class="t-progress">In Progress</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="company-detail"> <img src="assets/images/view.png" alt="view"> </a></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>