<div class="container-fluid">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-9 pr-sm-0">
            <div class="card o-hidden border-0 o-hidden">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- bg-image -->
                        <div class="col-lg-6 d-none d-lg-block bg-login-image hg-100"></div>
                        <!-- signup -->
                        <div class="col-lg-6">
                            <div class="padding">
                                <div class="text-center">
                                    <img class="flexi mb-4 pb-3" src="assets/images/logo.svg" alt="logo">
                                </div>
                                <div class="row company-information">
                                    <div class="col-12 p-0">
                                        <div class="row">
                                            <div class="col-12 padding-40">
                                                <h4 class="detail-head mt-4 mb-3">Company Information</h4>
                                                <div class="row">
                                                    <div class="col-1">
                                                        <img src="assets/images/location.svg" alt="location">
                                                    </div>
                                                    <div class="col-8">
                                                        <p class="preview-para">
                                                            {{area?.title}},
                                                            {{city?.title}},
                                                            {{country?.title}}-{{currentUser?.zipcode}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-12 padding-40">
                                                <h4 class="detail-head mt-3 mb-4">Contact Details</h4>
                                                <div class="row">
                                                    <div class="col-lg-5">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <img src="assets/images/phone.svg" alt="phone">
                                                            </div>
                                                            <div class="col-8">
                                                                <p class="preview-para">{{country?.teleCode}}{{currentUser?.mobile}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-2">
                                                                <img src="assets/images/mail.svg" alt="mail">
                                                            </div>
                                                            <div class="col-10">
                                                                <p class="preview-para">{{currentUser?.email}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-12 padding-40">
                                                <h4 class="detail-head mb-3 mt-3">Service</h4>
                                                <div *ngIf="currentUser?.pos" class="row service-percent mt-3 mb-3">
                                                    <div class="col-2">
                                                        <div class="service-charge">POS &nbsp;
                                                            <img src="assets/images/tick.svg" alt="tick" class="tick">
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div class="charge">{{appCommission?.POSSubscriptionCharge}} {{currency?.code}} Charge</div>
                                                    </div>
                                                </div>
                                                <div *ngIf="currentUser?.online" class="row service-percent mt-3 mb-3">
                                                    <div class="col-10">
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <div class="service-charge">Online &nbsp;
                                                                    <img src="assets/images/tick.svg" alt="tick" class="tick">
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div *ngIf="appCommission?.platformOnlineChargeType=='percentage'" class="charge">{{appCommission?.platformOnlineCharge}} % Charge</div>
																<div *ngIf="appCommission?.platformOnlineChargeType=='fixed'" class="charge">{{appCommission?.platformOnlineCharge}} {{currency?.code}} Charge</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="currentUser?.mLogistic" class="row service-percent mt-3 mb-3">
                                                    <div class="col-3">
                                                        <div class="service-charge">M Logistics &nbsp;
                                                            <img src="assets/images/tick.svg" alt="tick" class="tick">
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <div *ngIf="appCommission?.platformLogisticChargeType=='percentage'" class="charge">{{appCommission?.platformLogisticCharge}} % Charge</div>
														<div *ngIf="appCommission?.platformLogisticChargeType=='fixed'" class="charge">{{appCommission?.platformLogisticCharge}} {{currency?.code}} Charge</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <div class="row">
                                            <div class="col-12 padding-40">
                                                <h4 class="detail-head mt-3 mb-3">Subscription Amount</h4>
                                                <div class="row sub-bhd mb-5">
                                                    <div class="col-lg-3 tooltip-container" placement="bottom">
                                                        <h4 class="bhd">{{subscriptionCharge}} {{currency?.code}}</h4>
                                                        <div class="tooltip">Subscrption charge to use the app</div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <p class="renew-month">(Auto renew every month)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-10">
                                        <button class="btn btn-login btn-user btn-block mt-5 mb-3" href="javascript:void(0);" routerLink="/preview-payment">CONTINUE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
