.container-fluid {
    background-color: #fff;
}


.h-2 {
    height: 2.5rem;
}

.p-10 {
    padding: 0px 10px 0px 10px;
}

.borders {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
}


.company-detail {
    font-size: 20px;
    color: #3960A1;
    font-family: 'Work-sans, Medium';
    font-weight: 600;
}

.clear {
    border-radius: 4px;
    border: 1.5px solid #285198;
    background: #F3F5F9;
    font-family: 'Work-sans, Medium';
    color: #285198;
    font-size: 20px;
    width: inherit;
    padding: 11px;
}

.save {
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-size: 20px;
    font-family: 'Work-sans, Medium';
    width: inherit;
    padding: 11px;
}

.days {
    color: #9D9EA6;
    font-family: 'Work-sans, Medium';
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


select.select-category {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.9;
    color: #212529;
    background-color: #fff;
    background: url("~src/assets/images/select.svg") no-repeat;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    // background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.select-category {
    display: block;
    width: 194px;
    height: 49px;
    text-align: center;
    padding: 2px 10px;
    word-spacing: 42px;
    text-indent: -8px;
    font-weight: 600;
    line-height: 1.5;
    color: #262626;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    opacity: 0.9;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.select-category:hover,
select.select-category:focus {
    opacity: 0.9;
    color: #262626;
    background-color: #fff;
    // border-color: #bac8f3;
    outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25)
}



.verticle {
    position: absolute;
    top: 0px;
    left: 117px;
}




// SWITCH RADIO BUTTON

.switch {
    position: relative;
    display: inline-block;
    width: 73px;
    height: 34px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(202, 212, 230, 1);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 27px;
    left: 12px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: rgba(115, 211, 56, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(115, 211, 56, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}












/* MOBILE SCREEN */



/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
    .container-fluid {
        background-color: #fff;
    }



}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {

}




// Nest Hub Size Media Queries 

@media (min-width:1024px) and (max-width:1280px) {

.plus-delete{
    padding: initial;
}

.days {
    color: #9D9EA6;
    font-family: "Work-sans, Medium";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    left: 1rem;
}
}




  //Zoom in 110 //

  @media (min-width:1280px) and (max-width:1480px) {

    .plus-delete{
        padding: initial;
    }

  }

