<div class="container-fluid p-5">
    <h4 class="company-detail mb-4">Working Hours</h4>

    <div>

        <form class="needs-validation borders p-10 mb-4" novalidate>
            <div class="row g-3 p-3 align-items-center">
                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Monday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Tuesday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Wednesday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Thursday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Friday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Saturday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add"> 
                </div>

                <div class="col-md-3 mt-3 mb-4">
                    <div class="row align-items-baseline">    
                        <div class="col-3">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="col-3">
                            <div class="days">Sunday</div>
                       </div>
                    </div>  
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">9:00 &nbsp; AM</option>
                            <option>10:00 &nbsp; AM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-4 mt-3 mb-4">
                    <div>
                        <select class="form-select select-category" id="validationCustom04" required>
                            <option selected disabled value="">7:00 &nbsp; PM</option>
                            <option>8:00 &nbsp; PM</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                        <div><img class="verticle" src="assets/images/veriticle.svg" alt="line"></div>
                    </div>
                </div>

                <div class="col-md-1 mt-3 mb-4">
                    <img src="assets/images/plus.svg" alt="add">  &nbsp; <img src="assets/images/delete.svg" alt="delete">
                </div>

            </div>
        </form>
        <div class="row g-3 mt-3 mb-4 mb-4">
            <div class="col mt-4">
                <div class="btn clear">CLEAR</div>
            </div>
            <div class="col mt-4">
                <div class="btn save">SAVE</div>
            </div>
        </div>
    </div>

</div>