<h4 class="location mb-2 pt-4">LOCATION</h4>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-3 mt-3">
                <div class="btn day"> SUN </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="btn days"> MUN </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="btn days"> TUE </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="btn days"> WED </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row ">
            <div class="col-sm-3 mt-3">
                <div class="btn days"> THU </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="btn days"> FRI </div>
            </div>
            <div class="col-sm-3 mt-3">
                <div class="btn days"> SAT </div>
            </div>
        </div>
    </div>

</div>

<h4 class="location mb-2 mt-4"> <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
    <path d="M13.9712 5.58991V1" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.772 20.4101V25" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.3594 7.03951L22.605 3.79395" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M19.1602 18.9605L22.4058 22.2061" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M21.3554 12.9736L25.9453 12.9736" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.5854 7.03926L4.33984 3.7937" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M7.78511 18.9605L4.53955 22.2061" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M5.58992 12.9736L1 12.9736" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <circle cx="13.9716" cy="12.7741" r="5.18641" stroke="#3C61A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg> AM SESSION</h4>

<div class="row ">
    <div class="col-md-3 mt-2">
        <div class="btn session"><label class="contain-box">07:00 -08:00
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn session"><label class="contain-box">07:00 -08:00
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn session"><label class="contain-box">07:00 -08:00
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
</div>
<div class="row mt-3 ">
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
</div>

<h4 class="location mb-2 mt-4"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26" fill="none">
    <path d="M12.4547 1C6.23717 13.4351 16.5011 19.2578 22.5212 20.8369C20.0193 23.6391 17.0416 24.7604 14.1912 24.9647C7.68412 25.4311 1.48817 20.1101 1.02891 13.6025C0.489863 5.96438 7.61596 1.43988 12.4547 1Z" stroke="#3960A1" stroke-width="2" stroke-linejoin="round"/>
  </svg> PM SESSION</h4>

<div class="row ">
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
</div>
<div class="row mt-3 ">
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
</div>

<div class="row mt-3 ">
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
    <div class="col-md-3 mt-3">
        <div class="btn sessions"><label class="contain-box">07:00 -08:00
            <input type="checkbox">
            <span class="checkmark"></span>
          </label></div>
    </div>
</div>

<div class="row g-3 mt-3 mb-4">
    <div class="col-md-6 mt-4">
        <div class="btn clear">CLEAR</div>
    </div>
    <div class="col-md-6 mt-4">
        <div class="btn save">SAVE</div>
    </div>
</div>
