.container-fluid {
  background-color: #fff;
}


.rating {
  color: #000;
  font-family: "Work-sans, Medium";
  font-size: 17px;
  font-weight: 500;
  padding: 12px 15px;
}

.img-rating {
  margin-left: 15px;
  width: 69px;
  height: 69px;
}

.see-review {
  padding: 9px 5px 8px 100px;
}

.n-rating {
  color: #1E4894;
  font-family: "Work-sans, Medium";
  font-size: 57px;
  font-weight: 600;
  margin-left: 15px;
  padding: 19px 15px;
}

.review {
  color: #898A93;
  font-family: "Work-sans, Medium";
  font-size: 21px;
  font-weight: 600;
}

.all-review {
  color: #285198;
  font-family: "Work-sans, Medium";
  font-size: 14px;
  font-weight: 600;
}

.r-border {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  background: #F3F5F9;
  margin: 0px;
}

.border-bottom {
  border-bottom: 1px solid #DBDDE0;
}


.table-header {
  background: #EBEEF6;
  color: #979AA5;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Work-sans, Medium';
  font-weight: 600;
}

.t-body {
  font-weight: 500;
  color: rgba(76, 77, 82, 1);
  font-size: 14px;
  font-family: "Work-sans, Medium";
}







/* PAGINATION */


.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: start;
  align-items: center;
}


.page-item:first-child .page-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

/* .page-item:first-child .pages-links {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
    } */

.page-links {
  padding: .375rem .75rem;
}

.pages-links {
  padding: .375rem .75rem;
}

.page-links {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  // opacity: 0.6000000238418579;
  text-align: center;
  font-family: 'Roboto, Medium';
  text-decoration: none;
  width: 37px;
  height: 36px;
  background-color: transparent;
  /* border: 1px solid #dee2e6; */
  // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.pages-links {
  position: relative;
  display: block;
  padding: 0.7rem 2.5rem;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto, Medium";
  color: #303030;
  text-decoration: none;
  border: 0.5px solid rgba(5, 5, 5, 0.50);
  background: rgba(255, 255, 255, 0.20);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item:not(:first-child) .page-links {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-item:not(:first-child) .pages-links {
  margin-left: -1px;
}

.page-links:hover {
  // z-index: 2;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto, Medium';
  background-color: #285198;
  // border-color: #285198;
  border-radius: 2rem;
  width: 37px;
  height: 36px;
  // padding: 4px 11px;
}

.pages-links:hover {
  // z-index: 2;
  color: #285198;
  font-family: 'Roboto, Medium';
  font-size: 10px;
  background-color: #fff;
  border-color: #285198;
}

.page-links.active {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto, Medium';
  background-color: rgba(40, 81, 152, 1);
  border-radius: 2rem;
  width: 37px;
  height: 36px;
}












@media (min-width: 1024px) {

  // .container-fluid{
  //     height: 100vh;
  // }
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: end;
    align-items: center;
  }
}









/* MOBILE SCREEN */



/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
  .container-fluid {
    background-color: #fff;
  }

  .scroll {
    overflow-x: auto;
  }

  .n-rating {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 57px;
    font-weight: 600;
    margin-left: 15px;
    /* padding: 19px 15px; */
    position: relative;
    left: 4rem;
  }


}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {}




// Nest Hub Size Media Queries 

@media (min-width:1024px) and (max-width:1280px) {

  .see-review {
    padding: 9px 5px 8px 30px;
  }

}


//Zoom in 110 //

@media (min-width:1280px) and (max-width:1480px) {}