.container-fluid {
    background-color: #fff;
}


.rating {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 17px;
    font-weight: 500;
    padding: 12px 15px;
}

.img-rating {
    margin-left: 15px;
    width: 69px;
    height: 69px;
}

.see-review {
    padding: 9px 5px 8px 100px;
}

.n-rating {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 57px;
    font-weight: 600;
    margin-left: 15px;
    padding: 19px 15px;
}

.review {
    color: #898A93;
    font-family: "Work-sans, Medium";
    font-size: 21px;
    font-weight: 600;
}

.all-review {
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 14px;
    font-weight: 600;
}

.r-border {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #F3F5F9;
}

.border-bottom {
    border-bottom: 1px solid #DBDDE0;
}


.table-header {
    background: #EBEEF6;
    color: #979AA5;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Work-sans, Medium';
    font-weight: 600;
  }
  
  .t-body {
    color: #4C4D52;
    font-size: 17px;
    font-family: "Work-sans, Medium";
  }

  
.scroll{
    overflow: auto;
  }