<!-- <div class="container-fluid">
  <div class="row">
    Sidebar
    <div class="col-md-3 sidebar">
      Sidebar content goes here
      <app-sidebar></app-sidebar>
    </div>

    Main Content
    <div class="col-md-9">
      <div class="header">
        Header content goes here
        <app-header></app-header>
      </div>
      <div class="content">
        Router Outlet for displaying different views based on route
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        Footer content goes here
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div> -->
