select.select-category {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.select-category {
    display: block;
    height: 52px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    width: inherit;
    font-family: 'Work-sans, Regular';
    font-size: 16px;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.select-category:hover,
select.select-category:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25)
}

.item-end {
    align-items: end;
}

.add-btn {
    width: 1.5rem;
    margin-right: 5px;
}

.add-item {
    color: #1D4893;
    font-family: 'Work-sans, Medium';
    border-radius: 4px;
    background: #c8d2e4;
    padding: 12px 16px;
    width: 159px;
    height: 53px;
    font-size: 16px;
}

.p-name {
    font-family: 'Work-sans, Semibold';
    font-size: 15px;
    color: #285198;
}

.ht-53 {
    height: 53px;
}

.p-border {
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    background: #FFF;
    padding: 40px 43px;
    margin: 0px 50px 0px 0px;
}

.p-border:hover {
    border-radius: 4px;
    border: 2px solid #288BE6;
    padding: 40px 43px;
    margin: 0px 50px 0px 0px;
    background: url("~src/assets/images/add-product.png") #fff no-repeat;
    background-position: 11.5rem 1rem;
}

.p-text-gray {
    color: #46444F;
    font-size: 18px;
    opacity: 0.699999988079071;
}

.p-search {
    color: #5A555D;
    font-family: 'Work-sans, Regular';
    font-size: 16px;
    height: 52px;
}


.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.customer-cart {
    color: #46444F;
    font-family: "Poppins, Medium";
    opacity: 0.699999988079071;
    font-size: 18px;
    font-weight: 500;
}

.reset {
    color: #1D4893;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 400;

}

.customer {
    background: #EBEEF6;
    color: #1D4893;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    padding: 8px;
    font-weight: 500;
}

.hr {
    background-color: rgba(215, 223, 236, 1);
    padding: 0.8px;
}

.p-hr {
    background-color: rgba(229, 229, 229, 1);
    padding: 0.5px;
}


.w-h-40 {
    width: 40px;
    height: 40px;
}

.item-baseline {
    align-items: baseline;
}

.modal-header-name {
    color: #000;
    font-size: 20px;
    font-family: 'Poppins, Medium';
}

.h-filter {
    color: #534D58;
    font-size: 20px;
    font-family: 'Work-sans, Medium';
    font-weight: 500;
}

.input-group-number {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #6e707e; */
    text-align: center;
    white-space: nowrap;
    /* background-color: #eaecf4; */
    border: 1px solid #d1d3e2;
    border-radius: 6px 0px 0px 6px;
}

.clear {
    border-radius: 4px;
    border: 1.5px solid #285198;
    background: #F3F5F9;
    font-family: "Work-sans, Medium";
    color: #285198;
    font-size: 20px;
    width: inherit;
    padding: 11px;
}

.add-customer-btn {
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-size: 20px;
    font-family: "Work-sans, Medium";
    width: inherit;
    padding: 11px;
}

img.close-bttn {
    width: 23.5px;
    height: 23.5px;
}

.s-header {
    color: #A1A6AC;
    font-size: 20px;
    font-family: "Poppins, Regular";
}

.input-text {
    color: #4C4D52;
    font-size: 16px;
    font-family: 'Work-sans, Regular';
}

.ht-52 {
    height: 52px;
}

.search-customer {
    height: 53px;
    color: #5A555D;
    font-size: 16px;
    font-family: 'Work-sans, Regular';
    padding: 0px 0px 0px 30px;
}

.search-icon {
    position: absolute;
    top: 20px;
    left: 21px;
    width: 15px;
    height: 15.716px;
}


img.shirt {
    width: 53px;
    height: 53px;
}

.product {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    width: 71px;
    height: 71px;
    padding: 6px 8px;
}

.p-name {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
}

.invoice-topic {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.dry-clean {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6000000238418579;
}

.summary-bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
}


img.f-timer {
    width: 40px;
    height: 40px;
}

.print-invoice {
    width: 285px;
    height: 52px;
    border-radius: 8px;
    background: #1E4894;
    color: #FFF;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}


.bg-invoice {
    background: #FFF;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 65px 0px;
}

.padding-5 {
    padding-bottom: 5rem;
}

.u-name {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 600;
}

.u-address {
    color: #534D58;
    font-family: "Work-sans, Medium";
    font-size: 12px;
    font-weight: 500;
    margin: 0px -11px;
}

.call-user {
    color: #534D58;
    font-family: "Work-sans, Medium";
    font-size: 12px;
    font-weight: 500;
}

.u-mail {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 12px;
    font-weight: 500;
}

.margin-11 {
    margin: 0px 11px;
}

.multiple {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
    padding: 0px 4px;
}

.p-delivery {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-left: 15px;
}


.i-time {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    opacity: 0.6999999881;
}

.check-out {
    color: #1D4893;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    padding: 9px 1px;
}

.check-outline {
    height: 39px;
    background: #EBEEF6;
}

.i-discount {
    width: 167px;
    height: 39px;
    border-radius: 30px;
    background: #EBEEF6;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 9px;
}


.bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
    text-align: end;
}

.total {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
}


.jeans {
    color: #252D38;
    font-family: "Poppins, Medium";
    font-size: 33.717px;
    font-weight: 600;
}

img.jean {
    width: 102.927px;
    height: 102.927px;
}

.wash {
    color: #252D38;
    font-family: "Poppins, Medium";
    font-size: 22.3px;
    font-weight: 600;
    opacity: 0.8899999856948853;
}

.w-bhd {
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 21.295px;
    font-weight: 600;
}

.decrement {
    font-size: 33px;
    color: #1E4894;
    opacity: 0.5;
    margin-bottom: 16px;
}

.increment {
    color: #1E4894;
    font-size: 33px;
    margin-bottom: 16px;
}

.counter {
    padding: 3px 18px;
    text-align: center;
    background: #F0F6FF;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 31.943px;
    font-weight: 600;
}

.total-aed {
    color: #252D38;
    font-family: "Poppins, Medium";
    font-size: 21.295px;
    font-weight: 500;
}

.aed {
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 31.943px;
    font-weight: 700;
}

.add-padding {
    padding: 0rem 4rem;
}

.urgent {
    color: #4C4D52;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: 11px;
    width: inherit;
}

.urgent:hover, .urgent:active {
    border-radius: 4px;
    border: 1px solid #285198;
    // background-color: #EBEEF6;
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    padding: 11px;
    width: inherit;
    background: url("~src/assets/images/blue-tick.png") no-repeat #EBEEF6;
    background-position: 17rem;
}

.s-service {
    color: #5F6266;
    font-family: "Work-sans, Medium";
    font-size: 22px;
    font-weight: 500;
}


input.s-bhd {
    width: 4.1rem;
    padding: 0px 0px;
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 24px;
    font-weight: 600;
    background-color: #fff;
    border: transparent;
}

input.s-bhd:focus {
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}



.s-bhd1 {
    color: #4C4D52;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-weight: 500;
}

.service-bhd {
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    width: 141px;
    height: 53px;
    padding: 8px 10px;

}








// SWITCH RADIO BUTTON

.switch1 {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
}

.switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f00;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider1:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 19px;
    left: 6px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider1 {
    background-color: rgba(115, 211, 56, 1);
}

input:focus+.slider1 {
    box-shadow: 0 0 1px rgba(115, 211, 56, 1);
}

input:checked+.slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider1.round {
    border-radius: 34px;
}

.slider1.round:before {
    border-radius: 50%;
}





// SWITCH


input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input[type="checkbox"].toggle+label {
    width: 110px;
    height: 39px;
    line-height: 37px;
    background-color: #fff;
    padding: 0px 0px 0px 10px;
    border-radius: 50px;
    border: 2px solid #1E4894;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    // -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"].toggle+label:before,
input[type="checkbox"].toggle+label:hover:before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 28px;
    height: 28px;
    background: #1E4894;
    z-index: 2;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

input[type="checkbox"].toggle+label .off,
input[type="checkbox"].toggle+label .on {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
}

input[type="checkbox"].toggle+label .off {
    margin-left: 34px;
    display: inline-block;
}

input[type="checkbox"].toggle+label .on {
    display: none;
}

input[type="checkbox"].toggle:checked+label .off {
    display: none;
}

input[type="checkbox"].toggle:checked+label .on {
    margin-right: 46px;
    display: inline-block;
}

input[type="checkbox"].toggle:checked+label,
input[type="checkbox"].toggle:focus:checked+label {
    background-color: #fff;
}

input[type="checkbox"].toggle:checked+label:before,
input[type="checkbox"].toggle:checked+label:hover:before,
input[type="checkbox"].toggle:focus:checked+label:before,
input[type="checkbox"].toggle:focus:checked+label:hover:before {
    background-position: 0 0;
    top: 4px;
    left: 115%;
    margin-left: -48px;
}

body {
    background: #f1f1f1;
    padding-top: 24px;
    text-align: center;
    font-family: arial;
}

p {
    font-size: 16px;
    color: #717171;
    margin: 0;
}

p:first-of-type {
    margin-top: 24px;
}






// DATE


input[type="date"] {
    display: block;
    position: relative;
    padding: 8px 60px 7px 13px;
    font-family: 'Poppins, Medium';
    color: #9A9B9F;
    font-size: 15px;
    border: 1px solid #E3E3E3;
    background: url("~src/assets/images/calendars.png") no-repeat;
    background-position: 10.5rem;
    // background:
    //     white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;

    // cursor: pointer;
}

input[type="date"]:focus {
    outline: none;
    border-color: #3acfff;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {}

::-webkit-datetime-edit-fields-wrapper {}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background: rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit-text {
    opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 120, 250, 1);
    background: rgba(0, 120, 250, 1);

}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}



//TIME

.time-form {
    padding: 8px 10px 7px 32px;
    border: 1px solid #E3E3E3;
    font-family: "Poppins, Medium";
    color: #9A9B9F;
    font-size: 15px;
    font-weight: 500;
}




// SWITCH RADIO BUTTON

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
    margin-bottom: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid rgb(210 218 234);
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 19px;
    left: 5px;
    bottom: 2px;
    background-color: rgba(30, 72, 148, 1);
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #fff;
    border: 2px solid rgb(210 218 234);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(115, 211, 56, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}







// ACCORDATION

.accordion {
    overflow-anchor: none;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-item {
    background-color: #fff;
    // border: 1px solid rgba(0,0,0,.125);
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    // border-bottom-right-radius: calc(.25rem - 1px);
    // border-bottom-left-radius: calc(.25rem - 1px);
}

.accordion-item:first-of-type .accordion-button {
    // border-top-left-radius: calc(.25rem - 1px);
    // border-top-right-radius: calc(.25rem - 1px);
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}


.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #1D4893;
    font-family: "Work-sans, Medium";
    text-align: left;
    background-color: #ebeef6;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    color: #1D4893;
    background-color: #ebeef6;
    /* box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125); */
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-body {
    padding: 1rem;
}



// @media (min-width: 1200px)
// .h2, h2 {
//     font-size: 2rem;
// }








/*MODAL*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    /* width: 320px; */
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    // overflow-y: auto;
}

.modal-body {
    // max-height: calc(100vh - 200px);
    overflow-y: auto;
}

// .modal.left .modal-body,
// .modal.right .modal-body {
// 	padding: 15px 15px 80px;
// }


/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}



.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}

button.close {
    background: transparent;
    border: transparent;
}

.container-fluid {
    background-color: #fff;
}





.modal-content-verify {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 832px;
    height: 419px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: 0;
    right: 10rem;
}

.modal-body-verify {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem;
}


.amount-enter {
    width: 620px;
    height: 76px;
    border: 1px solid #E5E5E5;
    font-family: "Poppins, Medium";
    font-size: 23px;
    font-weight: 500;
}


.save {
    width: 167px;
    height: 44px;
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
    padding: 12px;
}

.discard {
    width: 167px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #285198;
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
    padding: 12px;
}

.input-bhd {
    color: #285198;
    font-family: "Poppins, Medium";
    font-size: 23px;
    font-weight: 500;
}

.sucessfully {
    text-align: center;
    padding: 0.5rem 10rem;
}










@media (min-width: 380px) {
    .container-fluid {
        height: 100vh;
    }
}