<app-sub-header></app-sub-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8 border-right padding">
            <div class="row item-end">
                <div class="col-md-4 mb-3 mt-3">
                    <label class="p-text-gray poppins-medium mb-3"> Search for Items</label>
                    <input type="text" class="form-control search-border p-search" placeholder="Search by Item name">
                </div>
                <div class="col-md-5 mb-3 mt-3">
                    <label for="validationDefault04" class="form-label p-text-gray poppins-medium mb-3">Category</label>
                    <select class="form-select select-all" id="validationDefault04" required>
                        <option selected disabled value="">All </option>
                        <option>products....</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="btn border add-item" data-toggle="modal" data-target="#myModal3">
                        <img src="assets/images/add-item.svg" alt="add-item"> &nbsp; Add Item
                    </div>
                </div>
            </div>
            <div class="p-text-gray poppins-medium mt-2 mb-2">Products(25)</div>
            <div class="row mt-2 mb-3 text-center">
                <div class="col-md-4 mb-4 mt-3">
                    <div class="p-border btn" data-toggle="modal" data-target="#myModal1">
                        <img class="i-product" src="assets/images/pant.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-3">
                    <div class="p-border btn" data-toggle="modal" data-target="#myModal1">
                        <img class="i-product" src="assets/images/shirt-1.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-3">
                    <div class="p-border btn" data-toggle="modal" data-target="#myModal1">
                        <img class="i-product" src="assets/images/shirt-2.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/pant.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-1.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-2.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/pant.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-1.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-2.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/pant.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-1.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-2.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>

                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/pant.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-1.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 mt-4">
                    <div class="p-border btn">
                        <img class="i-product" src="assets/images/shirt-2.png" alt="product"> <br>
                        <div class="p-name mt-4"> Name</div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-xl-4 mb-3 pt-4">
            <div class="row mb-3 align-items-center">
                <div class="col-6 customer-cart">
                    CART
                </div>
                <div class="col-6 text-end reset btn">
                    <img src="assets/images/reset.svg" alt="reset"> Reset
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Customer</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row">
                                            <div class="col">

                                                <div class="row mt-3 align-item-center search-w">
                                                    <div class="col-10">
                                                        <div>
                                                            <img class="search-icon" src="assets/images/search.svg"
                                                                alt="search">
                                                            <input type="text" class="form-control search-border search-customer"
                                                                placeholder="Search Customers">
                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="btn p-0" data-toggle="modal"
                                                            data-target="#myModal2">
                                                            <img src="assets/images/add-user.svg" alt="customer" class="add-userImg">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row hr mt-3 mb-3">
                                                    <div class="col">
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">

                                                            <div class="col-8">
                                                                <div class="row align-items-center">
                                                                    <div class="col-2">
                                                                        <img class="user"
                                                                            src="assets/images/customer3.png"
                                                                            alt="profile">
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="u-name">Amal Salman</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="row align-items-center">
                                                                    <div class="col-1 text-center margin-11">
                                                                        <img src="assets/images/location.svg"
                                                                            alt="location">
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="u-address"> Villa 1588, Road 8123,
                                                                            Block 473, Sehala, Bahrain</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <div class="row align-items-center">
                                                                    <div class="col-3">
                                                                        <div class="margin-11"><img
                                                                                src="assets/images/call.svg" alt="call">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-9">
                                                                        <div class="call-user">Amal Salman</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="row align-items-center">
                                                                    <div class="col-2">
                                                                        <img src="assets/images/message.svg" alt="message">
                                                                    </div>
                                                                    <div class="col-10">
                                                                        <div class="u-mail">fabona1333@aramask.com</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <!-- <div class="row ">
                <div class="col-12 p-hr">

                </div>
            </div> -->

            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Items(3)</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row mt-3 mb-3 align-items-center">
                                            <div class="col-lg-7">
                                                <div class="row item-w">
                                                    <div class="col-md-4">
                                                        <div class="product"><img class="shirt"
                                                                src="assets/images/shirt-1.png" alt="shirt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="col-row">
                                                            <div class="col">
                                                                <div class="p-name">Product name</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="dry-clean">Dry Clean</div>
                                                            </div>
                                                            <div class="col">
                                                                <img src="assets/images/buy.svg" alt="buy"> &nbsp; <span class="dry-clean">0.500 BHD</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div class="m-align">
                                                    <img src="assets/images/x.svg" alt="x"> <span class="multiple">2</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="summary-bhd">1.000 BHD</div>
                                            </div>
                                        </div>

                                        <div class="row mt-3 mb-4 align-items-center">
                                            <div class="col-lg-7">
                                                <div class="row item-w">
                                                    <div class="col-md-4">
                                                        <div class="product"><img class="shirt"
                                                                src="assets/images/pant.png" alt="shirt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="col-row">
                                                            <div class="col">
                                                                <div class="p-name">Product name</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="dry-clean">Dry Clean</div>
                                                            </div>
                                                            <div class="col">
                                                                <img src="assets/images/buy.svg" alt="buy"> &nbsp; <span class="dry-clean">0.500 BHD</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div class="m-align">
                                                    <img src="assets/images/x.svg" alt="x"> <span class="multiple">1</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="summary-bhd">0.500 BHD</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Pickup & Delivery Time</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row">
                                            <div class="col">
                                                <div class="row align-items-center">
                                                    <div class="col-1">
                                                        <img class="f-timer" src="assets/images/fast-pickup.png"
                                                            alt="fast-pickup">
                                                    </div> &nbsp;
                                                    <div class="col-7">
                                                        <div class="p-delivery">Urgent/Normal</div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="checkbox" class="toggle" id="toggle" />
                                                        <label for="toggle">
                                                            <span class="on">Normal</span>
                                                            <span class="off">Urgent</span>
                                                        </label>
                                                    </div>

                                                </div>

                                                <div class="col-md-8">
                                                    <div class="row align-items-center pickup-w">
                                                        <div class="col">
                                                            <h4 class="i-time mt-4 mb-4">Pickup Time</h4>
                                                        </div>
                                                        <div class="col">
                                                            <label class="switch">
                                                                <input type="checkbox" checked>
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">
                                                    <div class="col-md-6 mb-3">
                                                        <input type="date" value="Feb27, 2023">
                                                    </div>
                                                    <div class="col-md-6 mb-2">
                                                        <select class="time-form form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example">
                                                            <option selected>01 pm to 02 pm</option>
                                                            <option value="1">02 pm to 03 pm</option>
                                                            <option value="2">03 pm to 04 pm</option>
                                                            <option value="3">04 pm to 05 pm</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-md-8 mb-3">
                                                    <div class="row align-items-baseline pickup-w">
                                                        <div class="col-7">
                                                            <h4 class="i-time mt-4 mb-2">Delivery Time</h4>
                                                        </div>
                                                        <div class="col">
                                                            <label class="switch">
                                                                <input type="checkbox" checked>
                                                                <span class="slider round"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row mb-2">
                                                    <div class="col-md-6 mb-2">
                                                        <input type="date" value="Feb27, 2023">
                                                    </div>
                                                    <div class="col-md-6 mb-2">
                                                        <select class="time-form form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example">
                                                            <option selected>01 pm to 02 pm</option>
                                                            <option value="1">02 pm to 03 pm</option>
                                                            <option value="2">03 pm to 04 pm</option>
                                                            <option value="3">04 pm to 05 pm</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Check out</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row">
                                            <div class="col">

                                                <div class="row align-items-center">
                                                    <div class="col-6 mb-3">
                                                        <div class="i-time">Subtotal</div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="bhd">6.400 BHD</div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="btn i-discount" data-toggle="modal"
                                                            data-target="#myModal5"><img src="assets/images/discount.svg" alt="discount"> &nbsp; Apply Discount</div>
                                                    </div>

                                                </div>
                                                <div class="row mt-3 mb-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2"
                                                        viewBox="0 0 485 2" fill="none">
                                                        <path d="M0 1L485 1.00004" stroke="#E5E5E5" />
                                                    </svg>
                                                </div>
                                                <div class="row mb-5 padding-5">
                                                    <div class="col-6">
                                                        <div class="total">Total</div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="bhd">6.000 BHD</div>
                                                    </div>
                                                </div>
                                                <div class="row text-center">
                                                    <div class="col bg-invoice">
                                                        <div class="btn print-invoice" [routerLink]="'/summary-detail'">
                                                            <img src="assets/images/paper-plus.svg" alt="order"> Create New Order
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>



    <!-- Modal - ADD CUSTOMER -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" style="max-width: 721px;" role="document">
            <div class="modal-content">

                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel2">Add Customer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                                alt="close"></span></button>
                </div>

                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <div class="s-header mt-3">Basic Info</div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom01" class="form-label h-filter mb-3">First Name</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom01"
                                placeholder="First Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Last Name</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="Last Name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="validationCustomUsername" class="form-label h-filter mb-3">Phone Number</label>
                            <div class="input-group has-validation">
                                <span class="input-group-number" id="inputGroupPrepend">+91</span>
                                <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                    placeholder="Mobile Number" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="s-header">Address</div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">DoorNo & Street</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="DoorNo & Street" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Locality</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="Locality" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Area</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="Area" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">City</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="City" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">State</label>
                            <select class="form-select select-category" id="validationDefault04" required>
                                <option selected disabled value="">State</option>
                                <option>state1</option>
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Country</label>
                            <select class="form-select select-category" id="validationDefault04" required>
                                <option selected disabled value="">Country</option>
                                <option>country1</option>
                            </select>
                        </div>
                        <div class="col-md-6 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Post Code</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                                placeholder="Post Code" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Special Discount</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom02" required>
                            <div class="special-percent">%</div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                    </form>
                    <div class="row mt-4">
                        <div class="col-md-6 mt-3">
                            <div class="btn clear">Clear</div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="btn customer-add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                (click)="openModal()">Add Customer</div>
                        </div>
                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>





    <!-- Modal - ADD NEW ITEM -->

    <div class="modal right fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
        <div class="modal-dialog" id="d-apply" role="document">
            <div class="modal-content">

                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel1">Add new Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                                alt="close"></span></button>
                </div>

                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <div class="s-header mt-3">Product Info</div>
                        </div>
                        <div class="col-md-8 mt-2">
                            <div class="row align-items-center">
                                <div class="col-4">
                                    <img class="jean" src="assets/images/jeans.png" alt="jeans">
                                </div>
                                <div class="col-6">
                                    <div class="jeans">Jeans</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2">

                            <div class="row mt-3 mb-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="wash"> Wash</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="w-bhd">2.345BHD</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <div>
                                        <span class="btn decrement" (click)="decrement()">-</span>
                                        <span class="counter">{{counter}}</span>
                                        <span class="btn increment" (click)="increment()">+</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mb-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="wash">Dry Clean + Iron</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="w-bhd">5.345BHD</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <div>
                                        <span class="btn decrement" (click)="decrement()">-</span>
                                        <span class="counter">{{counter}}</span>
                                        <span class="btn increment" (click)="increment()">+</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mb-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="wash">Iron</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="w-bhd">1.345BHD</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-end">
                                    <div>
                                        <span class="btn decrement" (click)="decrement()">-</span>
                                        <span class="counter">{{counter}}</span>
                                        <span class="btn increment" (click)="increment()">+</span>
                                    </div>
                                </div>
                            </div>

                            <svg xmlns="http://www.w3.org/2000/svg" width="651" height="3" viewBox="0 0 651 3"
                                fill="none">
                                <path opacity="0.2" d="M0.521484 1.7207H651.001" stroke="black"
                                    stroke-width="1.92349" />
                            </svg>
                        </div>

                        <div class="col-md-6 mt-4">
                            <div class="total-aed">Total</div>
                        </div>
                        <div class="col-md-6 mt-4 text-end">
                            <div class="aed">30 AED</div>
                        </div>

                    </form>
                    <div class="row mt-4">
                        <div class="col-12 mt-3 mb-3">
                            <div class="btn add-customer-btn" (click)="show = !show">Add to Basket ({{
                                someValue }})</div>
                        </div>
 
                        <div class="col-12 mt-3 mb-3" *ngIf="show">
                            <div class="btn amazing"> 
                                <div class="row align-items-center">
                                    <div class="col-1 basket">
                                        <img class="a-tick" src="assets/images/tick.svg" alt="tick">
                                    </div>
                                    <div class="col-10">
                                        Amazing ! Added to Basket 
                                    </div>
                                    <div class="col-1">
                                        <img class="close-bttn" src="assets/images/closes.svg" alt="close">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>




    <!-- Modal - ADD NEW ITEM-2  -->
    <div class="modal right fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3">
        <div class="modal-dialog" id="d-apply" role="document">
            <div class="modal-content">

                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel3">Add new Item</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                                alt="close"></span></button>
                </div>

                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <div class="s-header mt-3">Product Info</div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="validationCustom01" class="form-label h-filter mb-3">Product Name</label>
                            <input type="text" class="form-control input-text ht-53" id="validationCustom01"
                                placeholder="Enter" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="validationCustom02" class="form-label h-filter mb-3">Category Name</label>
                            <select class="form-select select-category" id="validationDefault04" required>
                                <option selected disabled value="">Choose</option>
                                <option>products....</option>
                            </select>
                        </div>
                        <div class="col-md-12 mt-2">
                            <label for="validationCustomUsername" class="form-label h-filter mb-3">Upload Image</label>
                            <div class="has-validation">
                                <img src="assets/images/shirt-2.png" alt="product-image">
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="s-header">Delivery Type</div>
                        </div>

                        <div class="col-md-6 mt-3">
                            <div class="btn urgent active">NORMAL</div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="btn urgent">URGENT</div>
                        </div>

                        <div class="col-12 mt-3 mb-3">
                            <div class="s-header">SelectService</div>
                        </div>

                        <div class="col-12 mt-3 mb-2">
                            <div class="row align-items-end">
                                <div class="col-md-10">
                                    <div class="row align-items-center">
                                        <div class="col-1">
                                            <img src="assets/images/dres.png" alt="dres">
                                        </div>
                                        <div class="col-3">
                                            <div class="s-service">Dryclean</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="service-bhd"><span><input class="s-bhd"
                                                        type="number"></span>&nbsp; <span class="s-bhd1">BHD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-end">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <label class="switch1">
                                                <input type="checkbox" checked>
                                                <span class="slider1 round"></span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-end mt-3">
                                <div class="col-md-10">
                                    <div class="row align-items-center">
                                        <div class="col-1">
                                            <img src="assets/images/wash.png" alt="wash">
                                        </div>
                                        <div class="col-3">
                                            <div class="s-service">Wash+Iron</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="service-bhd"><span><input class="s-bhd"
                                                        type="number"></span>&nbsp; <span class="s-bhd1">BHD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-end">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <label class="switch1">
                                                <input type="checkbox" checked>
                                                <span class="slider1 round"></span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-end mt-3 mb-3">
                                <div class="col-md-10">
                                    <div class="row align-items-center">
                                        <div class="col-1">
                                            <img src="assets/images/ironing.png" alt="ironing">
                                        </div>
                                        <div class="col-3">
                                            <div class="s-service">Ironing</div>
                                        </div>
                                        <div class="col-3">
                                            <div class="service-bhd"><span><input class="s-bhd"
                                                        type="number"></span>&nbsp; <span class="s-bhd1">BHD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-end">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <label class="switch1">
                                                <input type="checkbox" checked>
                                                <span class="slider1 round"></span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="720" height="2" viewBox="0 0 720 2" fill="none">
                            <path d="M0 1L720 1.00006" stroke="#D7DFEC" />
                        </svg>
                    </form>
                    <div class="row mt-4 mb-5">
                        <div class="col-md-6 mt-3">
                            <div class="btn clear">Clear</div>
                        </div>
                        <div class="col-md-6 mt-3 mb-3">
                            <div class="btn customer-add-btn">Add New Product</div>
                        </div>
                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>




    <!-- Modal - APPLY DISCOUNT -->
    <div class="modal right fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5">
        <div class="modal-dialog" id="d-apply" role="document">
            <div class="modal-content">

                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel5">Apply Discount</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                                alt="close"></span></button>
                </div>

                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>

                        <div class="col-md-5 mt-4">
                            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                                <li ngbNavItem>
                                    <a ngbNavLink><span class="percent-tab">%</span></a>
                                    <ng-template ngbNavContent>
                                        <input type="text" class="form-control input-text ht-53 enter-percentage"
                                            placeholder="Enter Percentage">
                                    </ng-template>
                                </li>
                                <li ngbNavItem>
                                    <a ngbNavLink><span class="bhd-tab">BHD</span></a>
                                    <ng-template ngbNavContent>
                                        <input type="text" class="form-control input-text ht-53 enter-percentage"
                                            placeholder="Enter BHD">
                                    </ng-template>
                                </li>
                            </ul>

                        </div>

                        <div class="col-md-7 mt-4">
                            <div [ngbNavOutlet]="nav"></div>
                        </div>

                    </form>
                    <div class="row mt-4">
                        <div class="col-md-12 mt-3 mb-3">
                            <div class="btn add-customer-btn">Apply Discount</div>
                        </div>
                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content-verify">

            <div class="modal-body-verify">
                <div class="sucessfully"><img src="assets/images/sucessfully.png" alt="add-user"></div>
                <div class="text-center mt-4">
                    <div class="btn save" data-bs-dismiss="modal" (click)="doSomething()">Ok</div> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>