<div class="container-fluid">
    <div class="row invoice-summary text-center">
        <div class="col-10">
            Order Details
        </div>
        <div class="col-2 text-right">
            <div class="btn"><img class="close-btn" src="assets/images/close.svg" alt="close"></div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xl-8 pt-5">
            <div class="row justify-content-center agent-w">
                <svg xmlns="http://www.w3.org/2000/svg" width="821" height="22" viewBox="0 0 821 22" fill="none">
                    <path d="M0 22C0 9.84974 9.84974 0 22 0H799C811.15 0 821 9.84974 821 22H0Z" fill="#7E7C84" />
                </svg>
                <div class="invoice-card">
                    <h4 class="detail-h mt-4">Agent Details</h4>
                    <div class="col-12 mt-3">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <img src="assets/images/loundry.png" alt="loundry">
                            </div>
                            <div class="col-md-11">
                                <div>
                                    <span class="invoice-topic">Super Laundry & Dry Cleaning</span> <br> <span
                                        class="invoice-detail">MN Area, Bahrain</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="detail-h mt-4">CUSTOMER Details</h4>
                    <div class="col-md-12">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <img src="assets/images/user.png" alt="user">
                            </div>
                            <div class="col-md-11 mt-2">
                                <span class="invoice-topic">Amal Salman</span> <br> <span class="invoice-detail">
                                    Villa 1588, Road 8123, Block 473, Sehala, <br>
                                    Bahrain</span>
                            </div>
                        </div>
                    </div>
                    <h4 class="detail-h mt-3 mb-3">ORDER STATUS</h4>
                    <div class="col-md-12 p-0">
                        <div class="row">
                            <div class="col-9">
                                <div class="invoice-complete">
                                    Order Created
                                </div>
                            </div>
                        </div>
                        <h4 class="detail-h mt-5 mb-3">READY BY</h4>
                        <div class="row mb-5">
                            <div class="col-8">
                                <span class="invoice-topic">Mon 28Feb 2022</span> <br> <span
                                    class="invoice-detail">02:00 pm-03:00pm</span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <h4 class="detail-h mb-3">CREATED BY</h4>
                                <h4 class="invoice-topic">Amal Salman</h4>
                            </div>
                            <div class="col-md-3">
                                <h4 class="detail-h mb-3">CREATED BY</h4>
                                <h4 class="invoice-topic">SUN 27,2022</h4>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-xl-4 border-left">

            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Items(3)</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row mt-3 mb-3 align-items-center">
                                            <div class="col-lg-7">
                                                <div class="row product-w">
                                                    <div class="col-md-3">
                                                        <div class="product"><img class="shirt"
                                                                src="assets/images/shirt-1.png" alt="shirt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="col-row">
                                                            <div class="col">
                                                                <div class="p-name">Product name</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="dry-clean">Dry Clean</div>
                                                            </div>
                                                            <div class="col">
                                                                <img src="assets/images/buy.svg" alt="buy"> &nbsp; <span class="dry-clean">0.500 BHD</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div>
                                                    <img src="assets/images/x.svg" alt="x"><span class="multiple">2</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="summary-bhd">1.000 BHD</div>
                                            </div>
                                        </div>

                                        <div class="row mt-3 mb-4 align-items-center">
                                            <div class="col-lg-7">
                                                <div class="row product-w">
                                                    <div class="col-md-3">
                                                        <div class="product"><img class="shirt"
                                                                src="assets/images/pant.png" alt="shirt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="col-row">
                                                            <div class="col">
                                                                <div class="p-name">Product name</div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="dry-clean">Dry Clean</div>
                                                            </div>
                                                            <div class="col">
                                                                <img src="assets/images/buy.svg" alt="buy"> &nbsp; <span class="dry-clean">0.500 BHD</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div>
                                                    <img src="assets/images/x.svg" alt="x"> <span class="multiple">1</span>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="summary-bhd">0.500 BHD</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Pickup & Delivery Time</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row">
                                            <div class="col">
                                                <div class="row align-items-center pt-2">
                                                    <div class="col-1">
                                                        <img class="f-timer" src="assets/images/fast-pickup.png"
                                                            alt="fast-pickup">
                                                    </div>
                                                    <div class="col-8">
                                                        <div class="p-delivery">Fast Pickup & Delivery</div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <input type="checkbox" class="toggle" id="toggle" />
                                                        <label for="toggle">
                                                            <span class="on">YES</span>
                                                            <span class="off">NO</span>
                                                        </label>
                                                    </div>

                                                </div>
                                                <h4 class="i-time mt-3 mb-2">Pickup Time</h4>
                                                <div class="row mt-3">
                                                    <div class="col-md-6 mb-3">
                                                        <input type="date" value="Feb27, 2023">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <select class="time-form form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example">
                                                            <option selected>01 pm to 02 pm</option>
                                                            <option value="1">02 pm to 03 pm</option>
                                                            <option value="2">03 pm to 04 pm</option>
                                                            <option value="3">04 pm to 05 pm</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <h4 class="i-time mt-2 mb-3">Delivery Time</h4>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <input type="date" value="Feb27, 2023">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <select class="time-form form-select form-select-lg mb-3"
                                                            aria-label=".form-select-lg example">
                                                            <option selected>01 pm to 02 pm</option>
                                                            <option value="1">02 pm to 03 pm</option>
                                                            <option value="2">03 pm to 04 pm</option>
                                                            <option value="3">04 pm to 05 pm</option>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <div class="row mt-3">
                <div class="col-12 pl-0 pr-0">
                    <div ngbAccordion>
                        <div ngbAccordionItem [collapsed]="false">
                            <h2 ngbAccordionHeader>
                                <button ngbAccordionButton>Check out</button>
                            </h2>
                            <div ngbAccordionCollapse>
                                <div ngbAccordionBody>
                                    <ng-template>
                                        <div class="row">
                                            <div class="col">

                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <div class="i-time">Subtotal</div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="bhd">6.400 BHD</div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="i-discount"><img src="assets/images/discount.svg"
                                                            alt="discount"> &nbsp; Discount</div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <div class="bhd">-0.400 BHD</div>
                                                    </div>
                                                </div>
                                                <div class="row mt-3 mb-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2"
                                                        viewBox="0 0 485 2" fill="none">
                                                        <path d="M0 1L485 1.00004" stroke="#E5E5E5" />
                                                    </svg>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <div class="total">Total</div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="bhd">6.000 BHD</div>
                                                    </div>
                                                </div>

                                                <!-- <div class="row text-center">
                                                    <div class="col bg-invoice">
                                                        <div class="btn print-invoice"> <svg xmlns="http://www.w3.org/2000/svg" width="23" height="26" viewBox="0 0 23 26" fill="none">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.7026 1.01591H6.01056C3.29265 1.00545 1.06475 3.17063 1.00072 5.88854V20.0648C0.954988 22.7435 3.08881 24.9531 5.76882 25.0002C5.84853 25.0002 5.92955 25.0002 6.01056 24.9975H16.4484C19.1519 24.9701 21.3262 22.7683 21.3223 20.0648V7.9126L14.7026 1.01591Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M14.3604 1V4.80115C14.3604 6.65665 15.8617 8.16065 17.7172 8.16587H21.3158" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M14.1235 14.281H7.7207" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M10.9239 17.4821V11.0793" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                          </svg> Print Invoice</div>
                                                    </div>
                                    
                                                </div> -->

                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="row check-outline mb-4">
                        <div class="col">
                            <h4 class="check-out">Payment Method</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="row" id="myGroup">
                                <div class="col-md-6 mb-2">
                                    <div class="form">
                                        <button type="button" class="btn pay-now me-2" data-toggle="collapse"
                                            href="#collapseExample" role="button" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            <label class="paynow"><input type="radio" class="input-radio off mr-4" name="pilih">
                                                Pay Now</label>
                                        </button>
                                    </div>
                                    
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form">
                                        <button type="button" class="btn me-2 pay-now" data-toggle="collapse"
                                            data-target="#collapseExample2" aria-expanded="false"
                                            aria-controls="collapseExample2">
                                            <label class="paynow"><input type="radio" class="input-radio on mr-2" name="pilih">
                                                Pay on Delivery</label>
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="collapse" id="collapseExample" data-parent="#myGroup">
                                <hr>
                                <div class="card card-body">
                                   <div class="row align-items-end">
                                    <div class="col-1">
                                        <input class="input-radios on" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    </div>
                                    <div class="col-5">
                                        <label class="paynow-method">Benefit</label>
                                    </div>
                                    <div class="col-6 text-right">
                                        <img src="assets/images/payment.png" alt="paynow">
                                    </div>
                                   </div>
                                </div>

                                <div class="card card-body mt-3">
                                    <div class="row align-items-end">
                                     <div class="col-1">
                                         <input class="input-radios on" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                     </div>
                                     <div class="col-5">
                                         <label class="paynow-method">Credit card</label>
                                     </div>
                                     <div class="col-6 text-right">
                                         <img src="assets/images/payment.png" alt="paynow">
                                     </div>
                                    </div>
                                 </div>
                            </div>
                            <div class="collapse" id="collapseExample2" data-parent="#myGroup">
                                <hr>
                                <div class="card card-body">
                                    <div class="row align-items-end">
                                     <div class="col-1">
                                         <input class="input-radios on" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                     </div>
                                     <div class="col-5">
                                         <label class="paynow-method">Benefit</label>
                                     </div>
                                     <div class="col-6 text-right">
                                         <img src="assets/images/payment.png" alt="paynow">
                                     </div>
                                    </div>
                                 </div>
 
                                 <div class="card card-body mt-3">
                                     <div class="row align-items-end">
                                      <div class="col-1">
                                          <input class="input-radios on" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                      </div>
                                      <div class="col-5">
                                          <label class="paynow-method">Credit card</label>
                                      </div>
                                      <div class="col-6 text-right">
                                          <img src="assets/images/payment.png" alt="paynow">
                                      </div>
                                     </div>
                                  </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0 1L485 1.00004" stroke="#E5E5E5" />
                        </svg>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="row mt-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="amount-received">
                                        Amount Received
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bhdEnter-w">
                                        <span class="r-bhd">BHD</span> &nbsp; <span class="btn enter">Enter</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 align-items-center">
                                <div class="col-md-6">
                                    <div class="amount-received">
                                        Balance Paid
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bhdEnter-w">
                                        <span class="r-bhd">BHD</span> &nbsp; <span class="btn enter">Enter</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-3 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="485" height="2" viewBox="0 0 485 2" fill="none">
                            <path d="M0 1L485 1.00004" stroke="#E5E5E5" />
                        </svg>
                    </div>

                    <div class="row mt-3 mb-3">
                        <div class="col-12 mb-3">
                            <div class="mb-3">
                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                    placeholder="Add Aditional Info" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="row">
                                <div class="col-md-6 text-right">
                                    <div class="btn pay" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    (click)="openModal()" >Paynow</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn pay">Discard</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>














<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content-verify">

            <div class="modal-body-verify">
                <div class="sucessfully"><img src="assets/images/orderSucessfully.svg" alt="orderSucessfully"></div>
                <h4 class="created">Order Created successfully</h4>
                <div class="text-center">
                    <div class="btn save" data-bs-dismiss="modal" (click)="doSomething()">OK</div> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>