.container-fluid {
    // padding: 0px;
    // background-color: #fff;
}

.invoice-summary {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 24px;
    font-weight: 500;
    // width: 1440px;
    height: 80px;
    background: #EBEEF6;
    padding: 21px;
}

.invoice-card {
    width: 821px;
    padding: 0px 0px 47px 30px;
    // height: 651px;
    background: #FFF;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}

.detail-h {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.699999988079071;
}

.invoice-topic {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.invoice-detail {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
}

.invoice-complete {
    // width: 565px;
    height: 58px;
    background: #F3F3F3;
    color: #7E7C84;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 16px 18px;
}

.border-left {
    border-left: 1px solid #D7DFEC;
}

.check-outline {
    // width: 483px;
    height: 39px;
    background: #EBEEF6;
}

.check-out {
    color: #1D4893;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    padding: 9px 1px;
}


.i-time {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    opacity: 0.699999988079071;
}

.i-discount {
    width: 125px;
    height: 39px;
    border-radius: 30px;
    background: #EBEEF6;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 9px;
}

.bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
    text-align: end;
}

.total {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
}

.p-delivery {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-left: 15px;
}

img.f-timer {
    width: 40px;
    height: 40px;
}

.print-invoice {
    width: 285px;
    height: 52px;
    border-radius: 8px;
    background: #1E4894;
    color: #FFF;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}


.bg-invoice {
    background: #FFF;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 65px 0px;
}

.padding-5 {
    padding-bottom: 5rem;
}


.product {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    width: 71px;
    height: 71px;
    padding: 6px 8px;
}

.p-name {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
}

.invoice-topic {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.dry-clean {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6000000238418579;
}

.summary-bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
}

img.shirt {
    width: 53px;
    height: 53px;
}

.multiple {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
    padding: 0px 4px;
}

button.pay-now {
    border: 1px solid #285198;
    width: 187.371px;
    text-align: center;
}

label.paynow {
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 13px;
    font-weight: 500;
}


.amount-received {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 14px;
    font-weight: 500;
}

.r-bhd {
    color: #1D4893;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

span.enter {
    width: 116px;
    height: 37px;
    background: #ebeff6;
    font-family: "Work-sans, Medium";
    font-size: 17px;
    font-weight: 500;
    color: #dedede;
}

.pay {
    padding: 11px 57px;
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
}

.pay:hover {
    padding: 11px 57px;
    border-radius: 4px;
    border: 1px solid #285198;
    background: #F3F5F9;
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
}


.paynow-method{
    color: #585858;
    font-family: "Work-sans, Medium";
font-size: 13px;
font-weight: 500;
}

.card-body{
    padding: 16px;
}










// SWITCH


input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input[type="checkbox"].toggle+label {
    width: 93px;
    height: 39px;
    line-height: 37px;
    background-color: #fff;
    padding: 0px 0px 0px 10px;
    border-radius: 50px;
    border: 2px solid #1E4894;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    // -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"].toggle+label:before,
input[type="checkbox"].toggle+label:hover:before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 28px;
    height: 28px;
    background: #1E4894;
    z-index: 2;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

input[type="checkbox"].toggle+label .off,
input[type="checkbox"].toggle+label .on {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
}

input[type="checkbox"].toggle+label .off {
    margin-left: 46px;
    display: inline-block;
}

input[type="checkbox"].toggle+label .on {
    display: none;
}

input[type="checkbox"].toggle:checked+label .off {
    display: none;
}

input[type="checkbox"].toggle:checked+label .on {
    margin-right: 46px;
    display: inline-block;
}

input[type="checkbox"].toggle:checked+label,
input[type="checkbox"].toggle:focus:checked+label {
    background-color: #fff;
}

input[type="checkbox"].toggle:checked+label:before,
input[type="checkbox"].toggle:checked+label:hover:before,
input[type="checkbox"].toggle:focus:checked+label:before,
input[type="checkbox"].toggle:focus:checked+label:hover:before {
    background-position: 0 0;
    top: 4px;
    left: 115%;
    margin-left: -48px;
}

body {
    background: #f1f1f1;
    padding-top: 24px;
    text-align: center;
    font-family: arial;
}

p {
    font-size: 16px;
    color: #717171;
    margin: 0;
}

p:first-of-type {
    margin-top: 24px;
}






// DATE


input[type="date"] {
    display: block;
    position: relative;
    padding: 8px 100px 7px 13px;
    font-family: 'Poppins, Medium';
    color: #9A9B9F;
    font-size: 15px;
    border: 1px solid #E3E3E3;
    background: url("~src/assets/images/calendars.png") no-repeat;
    background-position: 13rem;
    // background:
    //     white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;

    cursor: pointer;
}

input[type="date"]:focus {
    outline: none;
    border-color: #3acfff;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {}

::-webkit-datetime-edit-fields-wrapper {}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background: rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit-text {
    opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 120, 250, 1);
    background: rgba(0, 120, 250, 1);

}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}



//TIME

.time-form {
    padding: 8px 32px 7px 32px;
    border: 1px solid #E3E3E3;
    font-family: "Poppins, Medium";
    color: #9A9B9F;
    font-size: 15px;
    font-weight: 500;
}





// ACCORDATION

.accordion {
    overflow-anchor: none;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-item {
    background-color: #fff;
    // border: 1px solid rgba(0,0,0,.125);
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    // border-bottom-right-radius: calc(.25rem - 1px);
    // border-bottom-left-radius: calc(.25rem - 1px);
}

.accordion-item:first-of-type .accordion-button {
    // border-top-left-radius: calc(.25rem - 1px);
    // border-top-right-radius: calc(.25rem - 1px);
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}


.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #1D4893;
    font-family: "Work-sans, Medium";
    text-align: left;
    background-color: #ebeef6;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    color: #1D4893;
    background-color: #ebeef6;
    /* box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125); */
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-body {
    padding: 1rem;
}




// COLLAPSE

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-radio {
    box-shadow: 0px 0px 0px 2px #cccccc;
    font-size: 3em;
    width: 20px;
    height: 20px;
    margin-right: 7px;

    border: 4px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form label {
    display: flex;
    margin: 10px 15px;
}

.input-radio.on:checked {
    box-shadow: 0px 0px 0px 3px #285198;
    ;
    background-color: #285198;
    ;
}

.input-radio.off:checked {
    box-shadow: 0px 0px 0px 3px #285198;
    background-color: #285198;
}






//PAYNOW-RADIO BUTTON-1

[type="radio1"]:checked,
[type="radio1"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio1"]:checked + label,
[type="radio1"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio1"]:checked + label:before,
[type="radio1"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio1"]:checked + label:after,
[type="radio1"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio1"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio1"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}




//PAYNOW-RADIO BUTTON-2

.input-radios {
    box-shadow: 0px 0px 0px 2px #93a8cb;
    font-size: 3em;
    width: 18.4px;
    height: 18.4px;
    margin-right: 7px;
  
    border: 4px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .form label {
    display: flex;
    margin: 10px 15px;
  }
  
  .input-radios.on:checked {
    box-shadow: 0px 0px 0px 4px #285198;
    // background-color: #285198;
  }
  
  .input-radios.off:checked {
    box-shadow: 0px 0px 0px 4px #285198;
    // background-color: #285198;
  }