<div class="container-fluid p-5">
    <h4 class="company-detail mb-4">Account Details</h4>

    <div>

        <form class="needs-validation borders p-10 mb-4" novalidate>
            <div class="row g-3 p-3">
                <div class="col-md-12 mt-4">
                    <label for="validationCustom01" class="form-label company">MOBILE NUMBER</label>
                    <input type="text" class="form-control company-input" id="validationCustom01" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <label for="validationCustom02" class="form-label company">EMAIL ID</label>
                    <input type="text" class="form-control company-input" id="validationCustom02" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom02" class="form-label company">NEW PASSWORD</label>
                    <input type="text" class="form-control company-input" id="validationCustom02" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom02" class="form-label company">CONFIRM PASSWORD</label>
                    <input type="text" class="form-control company-input" id="validationCustom02" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                

            </div>
        </form>
        <div class="row g-3 mt-3 mb-4">
            <div class="col mt-4">
                <div class="btn clear">CLEAR</div>
            </div>
            <div class="col mt-4">
                <div class="btn save">SAVE</div>
            </div>
        </div>
    </div>

</div>