.container-fluid{
    background-color: #fff;
}


.h-2 {
    height: 2.5rem;
}

.p-10 {
    padding: 0px 10px 0px 10px;
}

.borders {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
}

.company {
    color: #534D58;
    font-size: 16px;
    font-family: 'Work-sans, Medium';
}

.clear {
    border-radius: 4px;
    border: 1.5px solid #285198;
    background: #F3F5F9;
    font-family: 'Work-sans, Medium';
    color: #285198;
    font-size: 20px;
    width: inherit;
    padding: 11px;
}

.save {
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-size: 20px;
    font-family: 'Work-sans, Medium';
    width: inherit;
    padding: 11px;
}


.company-detail {
    font-size: 20px;
    color: #3960A1;
    font-family: 'Work-sans, Medium';
    font-weight: 600;
}

.company-input {
    height: 53px;
    border-radius: 4px;
    color: #4C4D52;
    font-family: 'Work-sans, Medium';
    font-size: 18px;
    opacity: 0.4000000059604645;
    font-weight: 500;
}


