<div class="container-fluid">
    <div class="row permission-pad">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">

                <!-- ROLES -->
                <li ngbNavItem>
                    <a ngbNavLink><span class="percent-tab">ROLES</span></a>
                    <ng-template ngbNavContent>

                        <form class="needs-validation borders p-10 mt-4 mb-4" novalidate>
                            <div class="row g-3 p-3">
                                <div class="col-md-12 mt-4">
                                    <label for="validationCustom01" class="form-label company">ROLE NAME</label>
                                    <input type="text" class="form-control company-input" id="validationCustom01"
                                        value="" placeholder="ENTER" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <label for="validationCustom02" class="form-label company">STATUS</label>
                                    <input type="text" class="form-control company-input" id="validationCustom02"
                                        value="" placeholder="ENTER" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <label for="validationCustom02" class="form-label company">DESCRIPTION</label>
                                    <input type="text" class="form-control company-input" id="validationCustom02"
                                        value="" placeholder="ENTER" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="row g-3 mt-3 mb-4 button-content">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col mt-4">
                                        <div class="btn clear">CLEAR</div>
                                    </div>
                                    <div class="col mt-4">
                                        <div class="btn save">SAVE</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </li>

                <!-- PERMISSIONS -->
                <li ngbNavItem>
                    <a ngbNavLink><span class="bhd-tab">PERMISSIONS</span></a>
                    <ng-template ngbNavContent>
                        <form class="needs-validation borders mt-4 mb-4" novalidate>
                            <h4 class="laundry">Laundry Customers</h4>

                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            <hr class="line">
                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            <hr class="line">
                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            <hr class="line">
                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            <hr class="line">
                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            <hr class="line">
                            <div class="row l-customer">
                                <div class="col-11">
                                    <h4 class="laundry-detail">View Laundry  Customers </h4>
                                    <h5 class="sub-detail">Allows users to view list of customers associated with the laundry</h5>
                                </div>
                                <div class="col-1">
                                    <div class="btn sessions"><label class="contain-box">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                      </label></div>
                                </div>
                            </div>
                            

                        </form>
                        <div class="row g-3 mt-3 mb-4 button-content">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col mt-4">
                                        <div class="btn clear">CLEAR</div>
                                    </div>
                                    <div class="col mt-4">
                                        <div class="btn save">SAVE</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
        </div>
    </div>

</div>
