<div class="container-fluid p-5">
    <h4 class="company-detail mb-4">Service Details</h4>

    <div>

        <form class="needs-validation borders p-10 mb-4" novalidate>
            <div class="row g-3 p-3">
                <div class="col-md-12 mt-3">
                    <label for="validationCustom01" class="form-label company">SERVICE SUPPORTED</label>
                </div>
                <div class="col-md-6 mt-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div type="button" class="btn pos me-2 tooltip-container" placement="bottom"> <img src="assets/images/pos.svg" alt="pos">&nbsp; POS 
                                <div class="tooltip">POS : Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Phasellus</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div type="button" class="btn online me-2 tooltip-container" placement="bottom"> <img src="assets/images/online.svg" alt="pos">&nbsp; online
                                <div class="tooltip">POS : Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Phasellus</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mt-4 mb-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <label class="form-label company">FLEXICLEAN XNMAN SUPPORT</label> <br>
                                    <label class="fees">Fees 20%</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="checkbox" id="toggle" class="toggle">
                                    <label for="toggle"><span class="on">YES</span><span class="off">NO</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div class="row g-3 mt-3 mb-4">
            <div class="col mt-4">
                <div class="btn clear">CLEAR</div>
            </div>
            <div class="col mt-4">
                <div class="btn save">SAVE</div>
            </div>
        </div>
    </div>

</div>