<!-- <a href="#" [routerLink]="'../invoice'">Invoice</a> -->

<div class="container-fluid pad-5">
    <div class="row">
        <div class="col-md-4 pad-left mt-3">
            <div class="customer-details">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="customer-order" src="assets/images/total-order.png" alt="order">
                    </div>
                    <div class="col">
                        <div class="c-pading"> <span class="d-customer">Total Orders </span> <br> <span
                                class="n-customer"> 25</span></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 pad-left mt-3">
            <div class="customer-details">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="customer-order" src="assets/images/total-order.png" alt="order">
                    </div>
                    <div class="col">
                        <div class="c-pading"> <span class="d-customer">Special Discount </span> <br> <span
                                class="n-customer">10%</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pad-left mt-3">
            <div class="customer-details">
                <div class="row align-items-center">
                    <div class="col-3">
                        <img class="customer-order" src="assets/images/total-order.png" alt="order">
                    </div>
                    <div class="col">
                        <div class="c-pading"> <span class="d-customer">Last Ordered </span> <br> <span
                                class="n-customer">10 Jan 22</span></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="row customer-name mt-3">
                <div class="col-sm-1">
                    <img class="profile" src="assets/images/customer2.png" alt="profile">
                </div>
                <div class="col-lg-5 mb-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="name-customer">Customer Name</div>
                        </div>
                        <div class="col-md-6">
                            <span class="detail">Mobile</span><br> <span class="d-list underline">Bassam</span>
                        </div>
                        <div class="col-md-6">
                            <span class="detail">Email</span> <br> <span class="d-list">bassam@aramask.com</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 mb-3 text-center">
                    <div class="btn manage-address" [routerLink]="'../manage-address'"> <img class="location-w" src="assets/images/w-location.svg" alt="location"> &nbsp; Manage Address </div>
                </div>
                <div class="col-lg-3 mb-3 text-center">
                    <div class="btn edit-profile" [routerLink]="'../profile-update'"> <img class="location-w" src="assets/images/edit.svg" alt="location"> &nbsp;  Edit Profile </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-12">
            <ul ngbNav #nav="ngbNav" class="nav-tabs wallet-tab">
              <li ngbNavItem>
                <button ngbNavLink>Orders</button>
                <ng-template ngbNavContent>
                    <div class="row scroll">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr class="table-header">
                                        <th class="text-center" scope="col">Date</th>
                                        <th scope="col">order id</th>
                                        <th scope="col">nos</th>
                                        <th scope="col">type</th>
                                        <th scope="col">method</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">charges</th>
                                        <th scope="col">total</th>
                                        <th scope="col">discount</th>
                                        <th scope="col">final</th>
                                        <th scope="col">payment status</th>
                                        <th class="text-center" scope="col">order status</th>
                                        <th class="text-center" scope="col">invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of [1,2,3,4,5,6,7,8]">
                                        <td class="text-center t-data" scope="row">12/03/23</td>
                                        <td class="t-data">ORD001</td>
                                        <td class="t-no text-center">3</td>
                                        <td class="t-data">Online</td>
                                        <td class="t-data">Wallet</td>
                                        <td class="t-data">0.500</td>
                                        <td class="t-data">0.500</td>
                                        <td class="t-no">0.100</td>
                                        <td class="t-no text-center">0</td>
                                        <td class="t-no">550</td>
                                        <td class="t-no text-underline">Success</td>
                                        <td>
                                            <div class="t-progress btn" [routerLink]="'../pickup'">Pickup</div>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" [routerLink]="'/invoice'"><img src="assets/images/invoice.svg" alt="invoice"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination btn pt-5 mb-5">
                                  <li class="page-item"><a class="pages-links" (click)="previousPage()">Previous</a></li>
                                  <li class="page-item" *ngFor="let page of [1, 2, 3, 4, 5, 6, 7]; let i = index" (click)="activePage = i+1">
                                    <a class="page-links" [ngClass]="{'active': activePage === i+1}" >{{i+1}}</a>
                                  </li>
                                  <li class="page-item"><a class="pages-links" (click)="nextPage()">Next</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <button ngbNavLink>Transactions</button>
                <ng-template ngbNavContent>
                    <div class="row scroll">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr class="table-header">
                                        <th class="text-center" scope="col">Date</th>
                                        <th scope="col">order id</th>
                                        <th scope="col">nos</th>
                                        <th scope="col">type</th>
                                        <th scope="col">method</th>
                                        <th scope="col">amount</th>
                                        <th scope="col">charges</th>
                                        <th scope="col">total</th>
                                        <th scope="col">discount</th>
                                        <th scope="col">final</th>
                                        <th scope="col">payment status</th>
                                        <th class="text-center" scope="col">order status</th>
                                        <th class="text-center" scope="col">invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i of [1,2,3,4,5,6,7,8]">
                                        <td class="text-center t-data" scope="row">12/03/23</td>
                                        <td class="t-data">ORD001</td>
                                        <td class="t-no">3</td>
                                        <td class="t-data">Online</td>
                                        <td class="t-data">Wallet</td>
                                        <td class="t-data">0.500</td>
                                        <td class="t-data">0.500</td>
                                        <td class="t-no">0.100</td>
                                        <td class="t-no text-center">0</td>
                                        <td class="t-no">550</td>
                                        <td class="t-no text-underline">Success</td>
                                        <td>
                                            <div class="t-progress">Pickup</div>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" [routerLink]="'/invoice'"><img src="assets/images/invoice.svg" alt="invoice"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination btn pt-5 mb-5">
                                  <li class="page-item"><a class="pages-links" (click)="previousPages()">Previous</a></li>
                                  <li class="page-item" *ngFor="let page of [1, 2, 3, 4, 5, 6, 7]; let i = index" (click)="activePages = i+1">
                                    <a class="page-links" [ngClass]="{'active': activePages === i+1}" >{{i+1}}</a>
                                  </li>
                                  <li class="page-item"><a class="pages-links" (click)="nextPages()">Next</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </ng-template>
              </li>
              
              <li ngbNavItem class="filter-download">
                <div class="btn"> <img class="filter-two" src="assets/images/filter-two.svg" alt="filter"> </div> <div class="btn"> <img class="download-two" src="assets/images/download.svg" alt="download"> </div>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      
      </div>

    

</div>