<app-header></app-header>

<div class="container-fluid p-5">
  <div class="row mb-4 text-black poppins-medium item-center">
      <div class="col">
          <h4 class="text-start fs-20 poppins-semibold">Dashboard</h4>
      </div>
      <div class="col text-right">
          <div class="btn filter"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                <path d="M7.33014 13.0929H1.02942" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.1405 3.40042H16.4412" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.72629 3.34625C5.72629 2.0506 4.66813 1 3.36314 1C2.05816 1 1 2.0506 1 3.34625C1 4.64191 2.05816 5.69251 3.36314 5.69251C4.66813 5.69251 5.72629 4.64191 5.72629 3.34625Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13.0538C17 11.7581 15.9426 10.7075 14.6376 10.7075C13.3318 10.7075 12.2737 11.7581 12.2737 13.0538C12.2737 14.3494 13.3318 15.4 14.6376 15.4C15.9426 15.4 17 14.3494 17 13.0538Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> &nbsp;
                 Filter devices</div>
      </div>
  </div>

  <div class="row mt-3">
      <div class="col-xl-6 mb-4">
          <div class="row text-center">
              <div class="col-lg-6 mb-3">
                  <div class="total-order">
                      <img src="assets/images/total-order.png" alt="total-order">
                      <h4 class="mt-3 fs-24 worksans-medium">Total Orders</h4>
                      <h1 class="text-black text-xl">25</h1>
                  </div>

              </div>
              <div class="col-lg-6">
                  <div class="complete-order">
                      <img src="assets/images/complete-order.png" alt="complete-order">
                      <h4 class="mt-3 fs-24 worksans-medium">Completed Orders</h4>
                      <h1 class="text-black text-xl">12</h1>
                  </div>

              </div>

          </div>

          <div class="row mt-3 mb-3 text-black item-center">
              <div class="col">
                  <h4 class="text-start poppins-semibold fs-20">New Orders</h4>
              </div>
              <div class="col">
                  <h4 class="text-right worksans-semibold fs-14">See All</h4>
              </div>
          </div>

          <div class="new-orders">
              <div class="row item-center">
                  <div class="col-md-1">
                      <img class="user" src="assets/images/user.png" alt="user">
                  </div>
                  <div class="col-md-3 fs-14">
                      Allie Grater <br> <span class="order-num">Order Number</span>
                  </div>
                  <div class="col-md-2 worksans-medium fs-14">
                      01/03/23
                  </div>
                  <div class="col-md-3 worksans-medium fs-14">
                      Online
                  </div>
                  <div class="col-md-3">
                      <div class="booked"> <img class="tick" src="assets/images/tick.png" alt="select">&nbsp; Booked</div>
                  </div>

              </div>
          </div>
          <div class="new-orders mt-4">
              <div class="row item-center">
                  <div class="col-md-1">
                      <img class="user" src="assets/images/user.png" alt="user">
                  </div>
                  <div class="col-md-3 fs-14">
                      Allie Grater <br> <span class="order-num">Order Number</span>
                  </div>
                  <div class="col-md-2 worksans-medium fs-14">
                      01/03/23
                  </div>
                  <div class="col-md-3 worksans-medium fs-14">
                      Online
                  </div>
                  <div class="col-md-3">
                      <div class="booked"> <img class="tick" src="assets/images/tick.png" alt="select">&nbsp; Booked</div>
                  </div>

              </div>
          </div>
          <div class="new-orders mt-4">
              <div class="row item-center">
                  <div class="col-md-1">
                      <img class="user" src="assets/images/user.png" alt="user">
                  </div>
                  <div class="col-md-3 fs-14">
                      Allie Grater <br> <span class="order-num">Order Number</span>
                  </div>
                  <div class="col-md-2 worksans-medium fs-14">
                      01/03/23
                  </div>
                  <div class="col-md-3 worksans-medium fs-14">
                      POS
                  </div>
                  <div class="col-md-3">
                      <div class="booked"> <img class="tick" src="assets/images/tick.png" alt="select">&nbsp; Booked</div>
                  </div>

              </div>
          </div>
          <div class="new-orders mt-4">
              <div class="row item-center">
                  <div class="col-md-1">
                      <img class="user" src="assets/images/user.png" alt="user">
                  </div>
                  <div class="col-md-3 fs-14">
                      Allie Grater <br> <span class="order-num">Order Number</span>
                  </div>
                  <div class="col-md-2 fs-14">
                      01/03/23
                  </div>
                  <div class="col-md-3 fs-14">
                      POS
                  </div>
                  <div class="col-md-3">
                      <div class="booked"><img class="tick" src="assets/images/tick.png" alt="select">&nbsp; Booked</div>
                  </div>

              </div>
          </div>
          <div class="new-orders mt-4">
              <div class="row item-center">
                  <div class="col-md-1">
                      <img class="user" src="assets/images/user.png" alt="user">
                  </div>
                  <div class="col-md-3 fs-14">
                      Allie Grater <br> <span class="order-num">Order Number</span>
                  </div>
                  <div class="col-md-2 fs-14">
                      01/03/23
                  </div>
                  <div class="col-md-3 fs-14">
                      POS
                  </div>
                  <div class="col-md-3">
                      <div class="booked"> <img class="tick" src="assets/images/tick.png" alt="select">&nbsp; Booked</div>
                  </div>

              </div>
          </div>

      </div>
      <div class="col-xl-6">
          <div class="row text-center">
              <div class="col-lg-6">
                  <div class="pickup mb-4">
                      <h4 class="text-black text-left">Today's Pickup</h4>
                      <img class="mb-12" src="assets/images/delivery.png" alt="delivery">

                      <div class="p-list mt-4">
                          <div class="row item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Total
                              </div>
                              <div class="col-3 today-total">
                                  23
                              </div>
                          </div>
                          <div class="row mt-2 item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Completed
                              </div>
                              <div class="col-3 today-total">
                                  18
                              </div>
                          </div>
                          <div class="row mt-2 item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Pending
                              </div>
                              <div class="col-3 today-total">
                                  5
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-lg-6">
                  <div class="pickup">
                      <h4 class="text-black text-left">Today's Delivery</h4>
                      <img src="assets/images/pickup.png" alt="pickup">
                      <div class="p-list mt-4">
                          <div class="row item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Total
                              </div>
                              <div class="col-3 today-total">
                                  23
                              </div>
                          </div>
                          <div class="row mt-2 item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Completed
                              </div>
                              <div class="col-3 today-total">
                                  18
                              </div>
                          </div>
                          <div class="row mt-2 item-center">
                              <div class="col-1">
                                  <img src="assets/images/receipt.png" alt="receipt">
                              </div>&nbsp;
                              <div class="col-6">
                                  Pending
                              </div>
                              <div class="col-3 today-total">
                                  5
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <h4 class="mt-2 mb-4 text-black poppins-semibold fs-20">Check Status</h4>
          <div class="check-status mb-4">
              <div class="row mt-3">

                  <div class="col-lg-12">
                      <div class="row poppins-medium item-start text-center">
                          <div class="col-lg-8 mb-3">
                              <!-- <h4 class="status-code">ORD12884893</h4> -->
                              <input class="status-code" type="text">
                          </div>
                          <div class="col-lg-4">
                              <div class="btn btn-check">Check</div>
                          </div>
                      </div>
                      <div class="order-check mt-4 mb-4">
                          <div class="row">
                              <div class="col-lg-5">
                                  <div class="row">
                                      <div class="col-1">
                                          <img src="assets/images/receipt.png" alt="order">

                                      </div>
                                      <div class="col">
                                          <div> <span class="text-black poppins-medium fs-14">Order Details</span> <br> <span class="status-order">Status : Booked</span></div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="row">
                                      <div class="col-1">
                                          <img src="assets/images/setting.png" alt="change">

                                      </div>
                                      <div class="col">
                                          <div><span  class="text-black poppins-medium fs-14">Change</span> <br> <span class="status-order">Change Order</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>

              </div>
          </div>
      </div>

  </div>

</div>
