.dashboard {
  padding: 10px;
}

.total-order {
  border: 2px solid #395EA1;
  border-style: dashed;
  border-radius: 20px;
  padding: 24px;
  font-family: 'Work-sans, Semibold';
  color: #666666;
}

.complete-order {
  border: 2px solid #395EA1;
  border-style: dashed;
  border-radius: 20px;
  padding: 24px;
  font-family: 'Work-sans, Semibold';
  color: #666666;
  background-color: #fff;
}

.pickup {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 18px;
  padding: 16px;
  background: #fff;
  font-family: 'Poppins, Medium';
}

.p-list {
  background-color: #F3F5F9;
  color: #2B5298;
  padding: 10px;
  font-family: 'Work-sans, Medium';
  text-align: left;
  font-size: 18px;
}

.new-orders {
  background-color: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 14px;
  padding: 12px;
  font-family: 'Poppins, Medium';
  color: #000;
  text-align: center;
}

.order-num {
  color: #898A93;
  font-size: 11.7px;
  font-family: 'Poppins, Medium';
}

.item-center {
  align-items: center;
}

.today-total {
  font-family: "Work-sans, Semibold";
  font-size: 30px;
  text-align: right;
}

.status-code {
  border: 2px dashed #395EA1;
  padding: 16px;
  border-radius: 20px;
  color: #2B5298;
  width: inherit;
  font-family: 'Poppins, Semibold';
  text-transform: uppercase;
}

.btn-check {
  background-color: #2B5298;
  color: #fff;
  padding: 16px 42px 16px 46px;
  font-size: 18px;
  border-radius: 12px;
  width: 161px;
  font-family: 'Work-sans, Medium';
}

.item-start {
  align-items: flex-start;
}

.order-check {
  background-color: #F3F5F9;
  padding: 20px;

}

.check-status {
  background-color: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  padding: 17px;
  border-radius: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}

.status-order {
  color: #2B5298;
  font-size: 18px;
  font-family: 'Work-sans, Medium';
}

.booked {
  background: #eceff6;
  // width: 109px;
  text-align: center;
  padding: 8px 4px 8px 4px;
  color: #2B5298;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Work-sans, Medium';
}

.tick {
  background-color: #2B5298;
  border-radius: 2rem;
  padding: 6px 4px 5px 5px;
}

.filter {
  border: 2px solid #c0cbdf;
  padding: 11px 11px 9px 11px;
  color: #1C2330;
  font-family: "Work-sans, Semibold";
  font-size: 16px;
  border-radius: 8px;
  width: 168px;
  height: 49px;
}