.container-fluid {
    background: #fff;
}

.manage-address {
    border-radius: 10px;
    background: #F3F5F9;
    align-items: center;
    // width: 1142px;
    // height: 126.405px;
    padding: 27px 20px;
}

img.profile {
    width: 70.83px;
    height: 70.83px;
    border-radius: 3rem;
}

.customer-name {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 19.331px;
    font-weight: 500;
}

.customer-heading {
    color: #898A93;
    font-family: "Work-sans, Medium";
    font-size: 14.971px;
    font-weight: 500;
}

.customer-detail {
    color: #1D4893;
    font-family: "Poppins, Medium";
    font-size: 13.076px;
    font-weight: 600;
}

.address {
    border-radius: 4px;
    border: 1px solid #D7DFEC;
    padding: 25px 15px;
    // width: 1142px;
    // height: 139px;
    align-items: center;
}

.details {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 500;
    opacity: 0.800000011920929;
}

.primary {
    border-radius: 6.538px;
    background: #bbc8df;
    width: 195px;
    height: 43px;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 19.331px;
    font-weight: 500;
}

h4.heading {
    color: #1D4893;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
}