<div class="container-fluid p-5">
    <div class="row manage-address">
        <div class="col-md-1">
            <img class="profile" src="assets/images/customer2.png" alt="user">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <h4 class="customer-name">Bassam</h4>
                </div>
                <div class="col-12">
                    <div class="customer-heading">Mobile</div>
                </div>
                <div class="col-12 mt-1">
                    <div class="customer-detail">+9588495545</div>
                </div>

            </div>

        </div>
        <div class="col-md-3 mt-4">
            <div class="col-12">
                <div class="customer-heading">Email</div>
            </div>
            <div class="col-12 mt-1">
                <div class="customer-detail">bassam2243@aramask.com</div>
            </div>
        </div>

    </div>

    <h4 class="heading mt-3 mb-3">Addresses</h4>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <img class="locationA" src="assets/images/locationA.svg" alt="location">
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/phoneA.svg" alt="phone">
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/envelopeA.svg" alt="envelope">
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-right mt-2">
            <div class="btn primary">Primary</div>
        </div>
    </div>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <img class="locationA" src="assets/images/locationA.svg" alt="location">
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/phoneA.svg" alt="phone">
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/envelopeA.svg" alt="envelope">
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <img class="locationA" src="assets/images/locationA.svg" alt="location">
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/phoneA.svg" alt="phone">
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <img class="addressLogo" src="assets/images/envelopeA.svg" alt="envelope">
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


</div>