<div class="container-fluid p-5">
    <div class="row manage-address">
        <div class="col-md-1">
            <img class="profile" src="assets/images/customer2.png" alt="user">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <h4 class="customer-name">Bassam</h4>
                </div>
                <div class="col-12">
                    <div class="customer-heading">Mobile</div>
                </div>
                <div class="col-12 mt-1">
                    <div class="customer-detail">+9588495545</div>
                </div>

            </div>

        </div>
        <div class="col-md-3 mt-4">
            <div class="col-12">
                <div class="customer-heading">Email</div>
            </div>
            <div class="col-12 mt-1">
                <div class="customer-detail">bassam2243@aramask.com</div>
            </div>
        </div>

    </div>

    <h4 class="heading mt-3 mb-3">Addresses</h4>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                                <g opacity="0.5">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.52632 12.361C11.0952 12.361 12.3684 11.0885 12.3684 9.52072C12.3684 7.9529 11.0952 6.68048 9.52632 6.68048C7.95747 6.68048 6.68421 7.9529 6.68421 9.52072C6.68421 11.0885 7.95747 12.361 9.52632 12.361Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0526 9.52072C18.0526 16.6214 10.9474 20.8818 9.52632 20.8818C8.10526 20.8818 1 16.6214 1 9.52072C1 4.81584 4.81837 1 9.52632 1C14.2343 1 18.0526 4.81584 18.0526 9.52072Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                </g>
                              </svg>
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M6.7057 0.709961H3.55207C1.98241 0.709961 0.709961 1.98241 0.709961 3.55207V6.39417C0.709961 14.2424 7.07223 20.6047 14.9205 20.6047H17.7626C19.3322 20.6047 20.6047 19.3322 20.6047 17.7626V15.7987C20.6047 15.2605 20.3006 14.7684 19.8192 14.5277L16.386 12.8111C15.6125 12.4244 14.6758 12.8124 14.4024 13.6328L13.9792 14.9022C13.7051 15.7245 12.8616 16.214 12.0117 16.044C8.61 15.3637 5.95101 12.7047 5.27066 9.30294C5.10068 8.45303 5.59017 7.60954 6.41244 7.33545L7.98787 6.81031C8.69231 6.57549 9.09721 5.8379 8.91711 5.11752L8.08432 1.78636C7.92617 1.15375 7.35777 0.709961 6.7057 0.709961Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M0.709961 6.39499L10.6573 12.0792L20.6047 6.39499M2.13101 2.13184H19.1836C19.9685 2.13184 20.6047 2.76806 20.6047 3.55289V17.7634C20.6047 18.5482 19.9685 19.1845 19.1836 19.1845H2.13101C1.34619 19.1845 0.709961 18.5482 0.709961 17.7634V3.55289C0.709961 2.76806 1.34619 2.13184 2.13101 2.13184Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-right mt-2">
            <div class="btn primary">Primary</div>
        </div>
    </div>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                                <g opacity="0.5">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.52632 12.361C11.0952 12.361 12.3684 11.0885 12.3684 9.52072C12.3684 7.9529 11.0952 6.68048 9.52632 6.68048C7.95747 6.68048 6.68421 7.9529 6.68421 9.52072C6.68421 11.0885 7.95747 12.361 9.52632 12.361Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0526 9.52072C18.0526 16.6214 10.9474 20.8818 9.52632 20.8818C8.10526 20.8818 1 16.6214 1 9.52072C1 4.81584 4.81837 1 9.52632 1C14.2343 1 18.0526 4.81584 18.0526 9.52072Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                </g>
                              </svg>
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M6.7057 0.709961H3.55207C1.98241 0.709961 0.709961 1.98241 0.709961 3.55207V6.39417C0.709961 14.2424 7.07223 20.6047 14.9205 20.6047H17.7626C19.3322 20.6047 20.6047 19.3322 20.6047 17.7626V15.7987C20.6047 15.2605 20.3006 14.7684 19.8192 14.5277L16.386 12.8111C15.6125 12.4244 14.6758 12.8124 14.4024 13.6328L13.9792 14.9022C13.7051 15.7245 12.8616 16.214 12.0117 16.044C8.61 15.3637 5.95101 12.7047 5.27066 9.30294C5.10068 8.45303 5.59017 7.60954 6.41244 7.33545L7.98787 6.81031C8.69231 6.57549 9.09721 5.8379 8.91711 5.11752L8.08432 1.78636C7.92617 1.15375 7.35777 0.709961 6.7057 0.709961Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M0.709961 6.39499L10.6573 12.0792L20.6047 6.39499M2.13101 2.13184H19.1836C19.9685 2.13184 20.6047 2.76806 20.6047 3.55289V17.7634C20.6047 18.5482 19.9685 19.1845 19.1836 19.1845H2.13101C1.34619 19.1845 0.709961 18.5482 0.709961 17.7634V3.55289C0.709961 2.76806 1.34619 2.13184 2.13101 2.13184Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>

    <div class="row address mt-3 mb-3">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="22" viewBox="0 0 19 22" fill="none">
                                <g opacity="0.5">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.52632 12.361C11.0952 12.361 12.3684 11.0885 12.3684 9.52072C12.3684 7.9529 11.0952 6.68048 9.52632 6.68048C7.95747 6.68048 6.68421 7.9529 6.68421 9.52072C6.68421 11.0885 7.95747 12.361 9.52632 12.361Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0526 9.52072C18.0526 16.6214 10.9474 20.8818 9.52632 20.8818C8.10526 20.8818 1 16.6214 1 9.52072C1 4.81584 4.81837 1 9.52632 1C14.2343 1 18.0526 4.81584 18.0526 9.52072Z" stroke="black" stroke-width="1.42105" stroke-linecap="square"/>
                                </g>
                              </svg>
                        </div>
                        <div class="col-8">
                            <div class="details">Villa 1588, Road 8123, Block 473, Sehala, Bahrain</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M6.7057 0.709961H3.55207C1.98241 0.709961 0.709961 1.98241 0.709961 3.55207V6.39417C0.709961 14.2424 7.07223 20.6047 14.9205 20.6047H17.7626C19.3322 20.6047 20.6047 19.3322 20.6047 17.7626V15.7987C20.6047 15.2605 20.3006 14.7684 19.8192 14.5277L16.386 12.8111C15.6125 12.4244 14.6758 12.8124 14.4024 13.6328L13.9792 14.9022C13.7051 15.7245 12.8616 16.214 12.0117 16.044C8.61 15.3637 5.95101 12.7047 5.27066 9.30294C5.10068 8.45303 5.59017 7.60954 6.41244 7.33545L7.98787 6.81031C8.69231 6.57549 9.09721 5.8379 8.91711 5.11752L8.08432 1.78636C7.92617 1.15375 7.35777 0.709961 6.7057 0.709961Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">+9588495545</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                        <g opacity="0.5">
                                          <path d="M0.709961 6.39499L10.6573 12.0792L20.6047 6.39499M2.13101 2.13184H19.1836C19.9685 2.13184 20.6047 2.76806 20.6047 3.55289V17.7634C20.6047 18.5482 19.9685 19.1845 19.1836 19.1845H2.13101C1.34619 19.1845 0.709961 18.5482 0.709961 17.7634V3.55289C0.709961 2.76806 1.34619 2.13184 2.13101 2.13184Z" stroke="black" stroke-width="1.42105"/>
                                        </g>
                                      </svg>
                                </div>
                                <div class="col-10">
                                    <div class="details">fabona1333@aramask.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>


</div>