<app-sub-header></app-sub-header>

<div class="container-fluid pt-4">

    <div class="row p-4">


        <div class="col-12 mb-3 mt-3">
            <div class="row alertborder align-items-center p-2">
                <div class="col-1">
                    <div class="orderbucket">
                        <img src="assets/images/notificationOrder.svg" alt="notification">
                    </div>
                </div>
                <div class="col-10">
                    <h4 class="orderid">Order ID : 2345  was pending</h4>
                </div>
                <div class="col-1 text-right">
                    <div class="closealert btn" href="javascript:void(0);" routerLink="/dashboard">
                        <img src="assets/images/notificationClose.svg" alt="notification">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-3 mt-3">
            <div class="row alertborder align-items-center p-2">
                <div class="col-1">
                    <div class="orderbucket">
                        <img src="assets/images/notificationOrder.svg" alt="notification">
                    </div>
                </div>
                <div class="col-10">
                    <h4 class="orderid">Order ID : 2345  was pending</h4>
                </div>
                <div class="col-1 text-right">
                    <div class="closealert btn" href="javascript:void(0);" routerLink="/dashboard">
                        <img src="assets/images/notificationClose.svg" alt="notification">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
