<div class="row mb-2 text-black poppins-medium item-center">
    <div class="col-4">
        <h4 class="subscription">MY SUBSCRIPTION</h4>
    </div>
    <div class="col text-right">
        <div class="btn new-user"> <img src="assets/images/add.png" alt="download">&nbsp; Add New User </div>&nbsp; <div
            class="btn filter"> <img src="assets/images/filter.png" alt="filter">&nbsp; Filter</div>
    </div>
</div>
<h4 class="sub-detail">SUBSCRIPTION DETAILS</h4>

    <div class="row sub-expire align-items-center">
        <div class="col-sm-1 text-center mb-4">
            <img src="assets/images/bhd.png" alt="BHD">
        </div>
        <div class="col-md-3">
            <div class="bhd"> 3.000 BHD<br><span class="bhd-sub">Subsribed On</span></div>
        </div>
        <div class="col-sm-1 text-center mb-4">
            <img src="assets/images/calender.png" alt="calender">
        </div>
        <div class="col-md-3">
            <div class="bhd"> 5 days to Expire <br> <span class="bhd-sub">  Enabled </span></div>
        </div>
        <div class="col-md-4">
            <div class="btn sub-cancel"> Cancel Subscription </div>
        </div>

    </div>

    <h4 class="sub-detail mt-3 mb-3">CARD DETAILS</h4>

    <div class="row align-items-center text-center s-border p-3">
        <div class="col-md-3">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 6473 </div>
        </div>

        <div class="col-md-3">
            <div class="add-card">Added on / Debit card</div>
        </div>

        <div class="col-md-2">
            <div class="primary">Primary </div>
        </div>

        <div class="col-md-2">
            <div class="btn active"> Active </div>
        </div>

        <div class="col-md-2">
            <img src="assets/images/trash.png" alt="trash">
        </div>
    </div>

    <div class="row align-items-center text-center s-border p-3 mt-3">
        <div class="col-md-3">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 6473 </div>
        </div>

        <div class="col-md-3">
            <div class="add-card">Added on / Debit card</div>
        </div>

        <div class="col-md-2">
            <div class="primary">Primary </div>
        </div>

        <div class="col-md-2">
            <div class="btn active"> Active </div>
        </div>

        <div class="col-md-2">
            <img src="assets/images/trash.png" alt="trash">
        </div>
    </div>

    <div class="row align-items-center text-center s-border p-3 mt-3">
        <div class="col-md-3">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 6473 </div>
        </div>

        <div class="col-md-3">
            <div class="add-card">Added on / Debit card</div>
        </div>

        <div class="col-md-2">
            <div class="primary">Primary </div>
        </div>

        <div class="col-md-2">
            <div class="btn active"> Active </div>
        </div>

        <div class="col-md-2">
            <img src="assets/images/trash.png" alt="trash">
        </div>
    </div>

    <h4 class="sub-detail mt-3 mb-3">Transaction  / Invoice</h4>

    <div class="row mt-4 scroll">
        <div class="col">
            <table class="table border">
                
                <thead>
                    <tr class="table-header">
                        <th scope="col">TREANSACTION ID</th>
                        <th scope="col">date</th>
                        <th scope="col">plan</th>
                        <th scope="col">card details</th>
                        <th scope="col">amount</th>
                        <th class="text-center" scope="col">action</th>
                    </tr>
                </thead>
                <tbody class="t-body invoice">
                    <tr>
                        <td scope="row">TXN 002</td>
                        <td>02/04/2323</td>
                        <td>Free Plan</td>
                        <td class="renewal">Auto renewal</td>
                        <td>0.150BHD</td>
                        <td class="text-center invoice">Invoice &nbsp; <img class="w-15" src="assets/images/download.png" alt="download"></td>
                    </tr>
                    <tr>
                        <td scope="row">TXN 002</td>
                        <td>02/04/2323</td>
                        <td>Free Plan</td>
                        <td class="renewal">Auto renewal</td>
                        <td>0.150BHD</td>
                        <td class="text-center invoice">Invoice &nbsp; <img class="w-15" src="assets/images/download.png" alt="download"></td>
                    </tr>
                    <tr>
                        <td scope="row">TXN 002</td>
                        <td>02/04/2323</td>
                        <td>Free Plan</td>
                        <td class="renewal">Auto renewal</td>
                        <td>0.150BHD</td>
                        <td class="text-center invoice">Invoice &nbsp; <img class="w-15" src="assets/images/download.png" alt="download"></td>
                    </tr>
                    <tr>
                        <td scope="row">TXN 002</td>
                        <td>02/04/2323</td>
                        <td>Free Plan</td>
                        <td class="renewal">Auto renewal</td>
                        <td>0.150BHD</td>
                        <td class="text-center invoice">Invoice &nbsp; <img class="w-15" src="assets/images/download.png" alt="download"></td>
                    </tr>
                    <tr>
                        <td scope="row">TXN 002</td>
                        <td>02/04/2323</td>
                        <td>Free Plan</td>
                        <td class="renewal">Auto renewal</td>
                        <td>0.150BHD</td>
                        <td class="text-center invoice">Invoice &nbsp; <img class="w-15" src="assets/images/download.png" alt="download"></td>
                    </tr>

                    
                </tbody>
            </table>

        </div>

    </div>