.container-fluid{
    background-color: #fff;
}

.timeslot{
  color: #3960A1;
font-family: "Work-sans, Medium";
font-size: 20px;
font-weight: 600;
}

.location {
  color: #898A93;
  font-family: "Work-sans, Medium";
  font-size: 20px;
  font-weight: 600;
  }
  
  .day {
    font-size: 22px;
    // background-color: rgb(208, 228, 247);
    background-color: rgb(243, 245, 249);
    font-family: 'Work-sans, Medium';
    padding: 12px;
    color: #3960A1;
    width: 101px;
    height: 58px;
  }
  
  .days {
    background-color: rgb(243, 245, 249);
    color: #aebdd8;
    font-family: 'Work-sans, Medium';
    padding: 12px;
    font-size: 22px;
    width: 101px;
    height: 58px;
  }
  
  .session {
    color: #000;
    font-size: 18px;
    font-family: "Work-sans, Medium";
    border-radius: 4px;
    padding: 14px 7px 9px 10px;
    border: 1px solid #dadce0;
    // background: #D0E4F7;
    width: 180px;
    height: 55px;
  }
  
  .sessions {
    color: #000;
    border-radius: 4px;
    border: 1px solid #dadce0;
    padding: 14px 7px 9px 10px;
    width: 180px;
    height: 55px;
    font-size: 18px;
    font-family: "Work-sans, Medium";
  }
  
  .clear {
    font-family: 'Work-sans, Medium';
    color: #285198;
    font-size: 20px;
    /* width: inherit; */
    padding: 11px;
    width: 419.017px;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #285198;
    background: #F3F5F9;
  }
  
  .save {
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-size: 20px;
    padding: 11px;
    width: 419.017px;
    height: 53px;
    font-family: 'Work-sans, Medium';
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  // CHECK-BOX
  
  .contain-box {
    display: block;
    position: relative;
    padding: 0px 0px 1px 25px;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .contain-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(208, 228, 247, 1);
  }
  
  /* On mouse-over, add a grey background color */
  .contain-box:hover input~.checkmark {
    background-color: rgba(208, 228, 247, 1);
  }
  
  /* When the checkbox is checked, add a blue background */
  .contain-box input:checked~.checkmark {
    background-color: rgba(60, 97, 162, 1);
    border-radius: 2px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .contain-box input:checked~.checkmark:after {
    display: block;
  }
  
  .contain-box input:checked {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .contain-box .checkmark:after {
    left: 10px;
    top: 3px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
















  /* MOBILE SCREEN */



/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
  .container-fluid {
      background-color: #fff;
  }

  .clear {
    font-family: "Work-sans, Medium";
    color: #285198;
    font-size: 20px;
    padding: 11px;
    width: inherit;
    height: 53px;
    border-radius: 4px;
    border: 1px solid #285198;
    background: #F3F5F9;
}

.save {
  border-radius: 4px;
  background: #285198;
  color: #FCFBFD;
  font-size: 20px;
  padding: 11px;
  width: inherit;
  height: 53px;
  font-family: "Work-sans, Medium";
}

.time-center{
  text-align: center;
}

}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {}




// Nest Hub Size Media Queries 

@media (min-width:1024px) and (max-width:1280px) {


}




//Zoom in 110 //

@media (min-width:1280px) and (max-width:1480px) {


}

