<div class="container-fluid p-5">
    <h4 class="timeslot mb-2">TIMESLOT</h4>

    <div class="row time-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3 mt-3">
                    <div class="btn day"> SUN </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> MUN </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> TUE </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> WED </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row time-center">
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> THU </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> FRI </div>
                </div>
                <div class="col-sm-3 mt-3">
                    <div class="btn days"> SAT </div>
                </div>
            </div>
        </div>
    
    </div>
    
    <h4 class="location mb-2 mt-4">  <img src="assets/images/session-am.svg" alt="session">&nbsp; AM SESSION</h4>
    
    <div class="row time-center">
        <div class="col-10">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="btn session"><label class="contain-box">07:00 -08:00
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn session"><label class="contain-box">07:00 -08:00
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn session"><label class="contain-box">07:00 -08:00
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-3 time-center">
        <div class="col-10">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
            </div>
        </div>
    </div>
    
    <h4 class="location mb-2 mt-4"> <img src="assets/images/session-pm.svg" alt="session"> &nbsp; PM SESSION</h4>
    
    <div class="row time-center">
        <div class="col-10">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 time-center">
        <div class="col-10">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-3 time-center">
        <div class="col-10">
            <div class="row">
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
                <div class="col-md-3 mt-3">
                    <div class="btn sessions"><label class="contain-box">07:00 -08:00
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row g-3 mt-4 mb-4 justify-content-end time-center">
        <div class="col-md-6 mt-4">
            <div class="btn clear">CLEAR</div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="btn save">SAVE</div>
        </div>
    </div>
    
</div>