.poppins-bold {
    font-family: "Poppins, Bold";
}

.poppins-semibold {
    font-family: "Poppins, SemiBold";
}

.poppins-medium {
    font-family: "Poppins, Medium";
}

.poppins-regular {
    font-family: "Poppins, Regular";
}

.poppins-light {
    font-family: "Poppins, Light";
}

.container-fluid {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #f3f5f9;
    height: 100vh;
}

img.flexi {
    width: 127px;
    height: 97px;
}

.padding {
    padding: 4rem 9rem 1rem 9rem;
}

.hg-100 {
    height: 100vh;
}

.form-control {
    border-radius: 7.063px;
    border: 2.354px solid #E5E5E7;
}

.bg-login-image {
    background: url("~src/assets/images/auth.svg") no-repeat;
    background-position: center;
    background-size: 25rem;
    background-color: rgba(243, 245, 249, 1);
    height: auto;
}

.btn-login {
    color: #fff;
    background-color: #1E4893;
    border-color: #9A9DA5;
    font-family: "Poppins, Medium";
}

.btn-login:hover {
    color: #1E4893;
    background-color: #fff;
    border-color: #1E4893;
    font-family: "Poppins, Medium";
}

.btn-login:focus,
.btn-login.focus {
    color: #fff;
    background-color: #1E4893;
    border-color: #1E4893;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

form.user .btn-user {
    font-size: 16.48px;
    border-radius: 6px;
    padding: 0.85rem 1rem;
    font-family: "Poppins, Medium";
}


.btn-login.disabled,
.btn-login:disabled {
    color: #fff;
    background-color: #3b5998;
    border-color: #9A9DA5;
    font-family: "Poppins, Medium";
}

.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled).active,
.show>.btn-login.dropdown-toggle {
    color: #9A9DA5;
    background-color: #2d4373;
    border-color: #dfdfdf;
    font-family: "Poppins, Medium";
}

.btn-login:not(:disabled):not(.disabled):active:focus,
.btn-login:not(:disabled):not(.disabled).active:focus,
.show>.btn-login.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}


.p-welcome {
    color: #9A9DA5;
    font-family: 'Poppins, Medium';
    font-size: 18.835px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.f-password {
    color: #7E56DA;
    font-family: 'Poppins, Medium';
    font-size: 14.126px;
    font-weight: 500;
}

.valid-text {
    font-family: 'work-sans, Medium';
    font-size: 13px;
    color: red;
    font-weight: 500;
}

.form-control.ng-touched.ng-invalid {
    border: 1.5px solid red;
    background: url("~src/assets/images/in-valid.svg") no-repeat;
    background-size: 18px;
    background-position: 98% 50%;
}

// .invalid{
//   width: 21px;
//     height: 21px;
//     position: absolute;
//     bottom: 16.7rem;
//     right: 10.5rem;
// }

.form-control.ng-touched.ng-valid {
    border: 1.5px solid rgb(2, 165, 2);
    background: url("~src/assets/images/valid.svg") no-repeat;
    background-size: 18px;
    background-position: 98% 50%;
}


.remember {
    color: #000;
    font-family: 'Poppins, Medium';
    font-size: 14.126px;
    font-weight: 500;
    opacity: 0.5;
}


.login-head {
    color: #000;
    font-family: 'Poppins, Medium';
    font-size: 16.48px;
    font-weight: 500;
}

.benifit {
    color: #252D38;
    font-family: 'Poppins, Medium';
    font-size: 12px;
    font-weight: 500;
  }

.pay{
    width: 27.432px;
height: 17.333px;
}

.choose-payment{
    border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.15);
background: #FFF;
align-items: center;
padding: 10px 1px;
}

.credit-p{
    padding: 10px 13px;
    text-align: center;
}




//PAYNOW-RADIO BUTTON-2

.input-radios {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    font-size: 3em;
    width: 12.994px;
height: 12px;
    margin-right: 7px;
  
    border: 4px solid #fff;
    background-clip: border-box;
    border-radius: 50%;
    appearance: none;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .form label {
    display: flex;
    margin: 10px 15px;
  }
  
  .input-radios.on:checked {
    box-shadow: 0px 0px 0px 4px #285198;
    // background-color: #285198;
  }
  
  .input-radios.off:checked {
    box-shadow: 0px 0px 0px 4px #285198;
    // background-color: #285198;
  }

  

//MODAL



.modal-content-verify {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 832px;
    height: 419px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: 0;
    right: 10rem;
}

.modal-body-verify {
    position: relative;
    flex: 1 1 auto;
    padding: 4rem;
}


.created{
    color: #000;
    font-family: 'Poppins, Medium';
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 10px 4px;
    }


.save {
    width: 167px;
    height: 44px;
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
    padding: 12px;
}

.discard {
    width: 167px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #285198;
    color: #285198;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
    padding: 12px;
}

.input-bhd {
    color: #285198;
    font-family: "Poppins, Medium";
    font-size: 23px;
    font-weight: 500;
}

.sucessfully {
    text-align: center;
    padding: 0.5rem 10rem;
}













@media (max-width: 992px) {

    .container-fluid {
        background-color: #fff;
    }

    .padding {
        padding: 5rem;
    }
}