<div class="container-fluid">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12 col-md-9 pr-sm-0">
            <div class="card o-hidden border-0 o-hidden">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <!-- bg-image -->
                        <div class="col-lg-6 d-none d-lg-block bg-login-image hg-100"></div>

                        <!-- signup -->
                        <div class="col-lg-6">
                            <div class="padding">
                                <div class="text-center">
                                    <img class="flexi mb-4 pb-3" src="assets/images/logo.svg" alt="logo">
                                    <h1 class="text-black h2 mb-3 text-left poppins-semibold">Payment Deatils</h1>
                                </div>
                                <form [formGroup]="exform" class="user">
                                    <div class="row credit-p">
                                        <div class="col-lg-6 mb-3 mt-2">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row choose-payment">
                                                        <div class="col-2">
                                                            <img class="pay" src="assets/images/payment.svg" alt="payment">
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="benifit">Credit card</div>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <input type="radio" name="cardType" id="cardType1" value="credit" class="input-radios on" [(ngModel)]="selectedCardType" checked>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3 mt-2">
                                            <div class="row justify-content">
                                                <div class="col-11">
                                                    <div class="row choose-payment">
                                                        <div class="col-2">
                                                            <img class="pay" src="assets/images/payment.svg" alt="payment">
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="benifit">Debit card</div>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <input type="radio" name="cardType" id="cardType2" value="debit" class="input-radios on" [(ngModel)]="selectedCardType">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Card Number</label>
                                        <input type="text" formControlName="cardNumber" class="form-control form-control-user poppins-medium" placeholder="Enter Your Card Number">
										<div *ngIf="exform.get('cardNumber')?.invalid && exform.get('cardNumber')?.errors && (exform.get('cardNumber')?.dirty || exform.get('cardNumber')?.touched)">
											<small class="text-danger" *ngIf="exform.get('cardNumber')?.hasError('required')">This field is required.</small>
											<small class="text-danger" *ngIf="exform.get('cardNumber')?.hasError('minlength')">
												The minimum length for this field is 10 digits.
											</small>
											<small class="text-danger" *ngIf="exform.get('cardNumber')?.hasError('maxlength')">
												The maximum length for this field is 15 digits.
											</small>
										</div>
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Name on Card</label>
                                        <input type="text" formControlName="cardHolderName" class="form-control form-control-user poppins-medium" placeholder="Enter Name on Card">
										<div *ngIf="exform.get('cardHolderName')?.invalid && exform.get('cardHolderName')?.errors && (exform.get('cardHolderName')?.dirty || exform.get('cardHolderName')?.touched)">
											<small class="text-danger" *ngIf="exform.get('cardHolderName')?.hasError('required')">This field is required.</small>
										</div>
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Date Of Expiry</label>
                                        <input type="text" formControlName="cardExpiry" class="form-control form-control-user poppins-medium" placeholder="MM/YY">
										<div *ngIf="exform.get('cardExpiry')?.invalid && exform.get('cardExpiry')?.errors && (exform.get('cardExpiry')?.dirty || exform.get('cardExpiry')?.touched)">
											<small class="text-danger" *ngIf="exform.get('cardExpiry')?.hasError('required')">This field is required.</small>
										</div>
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Cvv</label>
                                        <input type="text" formControlName="cardCvv" class="form-control form-control-user poppins-medium" placeholder="Enter CVV">
										<div *ngIf="exform.get('cardCvv')?.invalid && exform.get('cardCvv')?.errors && (exform.get('cardCvv')?.dirty || exform.get('cardCvv')?.touched)">
											<small class="text-danger" *ngIf="exform.get('cardCvv')?.hasError('required')">This field is required.</small>
											<small class="text-danger" *ngIf="exform.get('cardCvv')?.hasError('minlength')">
												The minimum length for this field is 3 digits.
											</small>
											<small class="text-danger" *ngIf="exform.get('cardCvv')?.hasError('maxlength')">
												The maximum length for this field is 3 digits.
											</small>
										</div>
                                    </div>

                                    <!-- <div class="btn btn-login btn-user btn-block mt-5 mb-5" (click)="doPayment()">PAY NOW</div> -->
									<button class="btn btn-login btn-user btn-block mt-5 mb-5" [disabled]="exform.invalid" (click)="doPayment()">PAY NOW</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content-verify">
            <div class="modal-body-verify">
                <div class="sucessfully"><img src="assets/images/sucessfully.png" alt="add-user"></div>
                <h4 class="created">Profile Created! Continue to App</h4>
                <div class="text-center">
                    <div class="btn save" data-bs-dismiss="modal" routerLink="/dashboard">CONTINUE</div> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
