<div class="container-fluid">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-9 pr-sm-0">

            <div class="card o-hidden border-0 o-hidden">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">

                        <!-- bg-image -->
                        <div class="col-lg-6 d-none d-lg-block bg-login-image hg-100"></div>

                        <!-- signup -->
                        <div class="col-lg-6">
                            <div class="padding">
                                
                                <div class="text-center">
                                    <img class="flexi mb-4 pb-3" src="assets/images/logo.svg" alt="logo">
                                    <h1 class="text-black h2 mb-3 text-left poppins-semibold">Payment Deatils</h1>
                                </div>
                                <form class="user">

                                    <div class="row credit-p">
                                        <div class="col-lg-6 mb-3 mt-2">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row choose-payment">
                                                        <div class="col-2">
                                                            <img class="pay" src="assets/images/payment.svg" alt="payment">
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="benifit">Credit card</div>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" class="input-radios on" checked>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-3 mt-2">
                                            <div class="row justify-content">
                                                <div class="col-11">
                                                    <div class="row choose-payment">
                                                        <div class="col-2">
                                                            <img class="pay" src="assets/images/payment.svg" alt="payment">
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="benifit">Debit card</div>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" class="input-radios on">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Card Number</label>
                                        <input type="text" class="form-control form-control-user poppins-medium"
                                            placeholder="Enter Your Email">
                                    </div>


                                    <div class="form-group">
                                        <label class="login-head">Name on Card</label>

                                        <input type="text" class="form-control form-control-user poppins-medium"
                                            placeholder="Enter">
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Date Of Expiry</label>
                                        <input type="text" class="form-control form-control-user poppins-medium"
                                            placeholder="MM/YY">
                                    </div>

                                    <div class="form-group">
                                        <label class="login-head">Cvv</label>
                                        <input type="text" class="form-control form-control-user poppins-medium"
                                            placeholder="Enter">
                                    </div>

                                    <div class="btn btn-login btn-user btn-block mt-5 mb-5" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        (click)="openModal()">PAY NOW</div>
                                </form>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>

    </div>

</div>









<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content-verify">

            <div class="modal-body-verify">
                <div class="sucessfully"><img src="assets/images/sucessfully.png" alt="add-user"></div>
                <h4 class="created">Profile Created! Continue to App</h4>
                <div class="text-center">
                    <div class="btn save" data-bs-dismiss="modal" (click)="doSomething()">CONTINUE</div> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>