<div class="container-fluid p-5">
    <h4 class="company-detail mt-4">Company Details</h4>

<div>

    <form class="g-3 mt-3 needs-validation border p-10 mb-4" novalidate>
        <div class="col mt-3">
            <label for="validationCustom01" class="form-label company">COMPANY NAME</label>
            <input type="text" class="form-control company-input" id="validationCustom01" value="" placeholder="COMPANY NAME" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col mt-3">
            <label for="validationCustom02" class="form-label company">OWNER NAME</label>
            <input type="text" class="form-control company-input" id="validationCustom02" value="" placeholder="OWNER NAME" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col mt-3">
            <h4 class="company">DO YOU HAVE TAX</h4>
        </div>
        <div class="row g-3 p-3">
            <div class="col-lg-3 mb-2">
                <div class="btn border tax-yes"> YES </div>
            </div>
            <div class="col-lg-3">
                <div class="btn border tax-no"> NO </div>
            </div>
        </div>
        <div class="col mt-2">
            <label for="validationCustom02" class="form-label company">TAXATION NUMBER</label>
            <input type="text" class="form-control company-input" id="validationCustom02" value="" placeholder="COMPANY NAME" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col mt-3">
            <label for="validationCustom03" class="form-label company">COMPANY LOGO</label>

            <div class="file-upload-btn">

                <div class="image-upload-wrap">
                    <input class="file-upload-input" type="file" onchange="readURL(this);" accept="image/*">
                    <div class="drag-text">
                        <div class="upload"><img src="assets/images/upload.png" alt="upload"> Upload
                        </div>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image">
                </div>
            </div>
            <div class="row g-3 mt-3 mb-4">
                <div class="col mt-4">
                    <div class="btn clear">CLEAR</div>
                </div>
                <div class="col mt-4">
                    <div class="btn save">SAVE</div>
                </div>
            </div>

        </div>
        
        
    </form>

</div>

</div>