<div class="container-fluid p-5">


    <div>
    
        <div class="row mb-2 item-center pt-4">
            <div class="col-md-4">
                <h4 class="users">USERS</h4>
            </div>
            <div class="col-md-8 text-right">
                <div class="btn new-user"> <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path d="M13.6376 10.2415H6.86074" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.2483 13.6329L10.249 6.84961" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.584 1H5.915C2.894 1 1 3.139 1 6.166V14.334C1 17.361 2.885 19.5 5.915 19.5H14.583C17.614 19.5 19.5 17.361 19.5 14.334V6.166C19.5 3.139 17.614 1 14.584 1Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>&nbsp; Add New User </div>&nbsp; <div class="btn filter"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                    <path d="M7.33016 13.093H1.02944" stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.1405 3.40018H16.4412" stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.72629 3.34625C5.72629 2.0506 4.66813 1 3.36314 1C2.05816 1 1 2.0506 1 3.34625C1 4.64191 2.05816 5.69251 3.36314 5.69251C4.66813 5.69251 5.72629 4.64191 5.72629 3.34625Z" stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13.0538C17 11.7581 15.9427 10.7075 14.6377 10.7075C13.3319 10.7075 12.2737 11.7581 12.2737 13.0538C12.2737 14.3494 13.3319 15.4 14.6377 15.4C15.9427 15.4 17 14.3494 17 13.0538Z" stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>&nbsp; Filter</div>
            </div>
        </div>
        <h4 class="all-customer">All Customers</h4>
        <div class="row mt-4 scroll">
            <div class="col">
                <table class="table border">
                    
                    <thead>
                        <tr class="table-header">
                            <th class="text-center" scope="col">name</th>
                            <th scope="col">emailid</th>
                            <th scope="col">user name</th>
                            <th scope="col">role</th>
                            <th scope="col">mobile</th>
                            <th class="text-center" scope="col">status</th>
                            <th class="text-center" scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody class="t-body">
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                        </tr>
                        <tr>
                            <td class="text-center" scope="row">Mohammed</td>
                            <td>fjerome@e.com</td>
                            <td>John5</td>
                            <td>Admin</td>
                            <td>34567788</td>
                            <td><div class="t-progress">ACTIVE</div></td>
                            <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                        </tr>
                        
                    </tbody>
                </table>
    
            </div>
    
        </div>
    
    </div>
</div>