<div class="container-fluid p-5">
    <h4 class="location-h mb-3">LOCATION(20)</h4>

    <div class="dashboard">
        <div class="row border-r align-items-center p-3">
            <div class="col-md-2">
                <div class="location"> Area name 1 <br> <span class="location-br">Hamala > Zallaq </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
        </div>
    
        <div class="row border-r align-items-center p-3 mt-3">
            <div class="col-md-2">
                <div class="location"> Area name 2 <br> <span class="location-br">Manama > Galali </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
        </div>
    
        <div class="row border-r align-items-center p-3 mt-3">
            <div class="col-md-2">
                <div class="location"> Area name 3 <br> <span class="location-br">Isa Town > Sitra </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
        </div>
    
        <div class="row border-r align-items-center p-3 mt-3">
            <div class="col-md-2">
                <div class="location"> Area name 4 <br> <span class="location-br">Askar > Jaww </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
        </div>
    
        <div class="row border-r align-items-center p-3 mt-3">
            <div class="col-md-2">
                <div class="location"> Area name 5 <br> <span class="location-br">Saar > Budaiya </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
        </div>
    
        <div class="row border-r align-items-center p-3 mt-3">
            <div class="col-md-2">
                <div class="location"> Area name 6 <br> <span class="location-br">Awali > Al Dur </span></div>
    
            </div>
            <div class="col-md-2">
                <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
            </div>
            <div class="col-md-2">
                <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
            </div>
            <div class="col-md-3">
                <div class="row align-items-center">
                    <div class="col service">
                         Service Available
                    </div>
                    <div class="col">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                    </div>
                </div>  
            </div>
            <div class="col-md-3">
                <div class="btn edit" data-toggle="modal" data-target="#myModal2"> <img src="assets/images/edit.svg" alt="edit"> Update Charges</div>
            </div>
            
        </div>
    
    </div>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination pt-5 mb-5">
            <li class="page-item"><a class="pages-links" >Previous</a></li>
            <li class="page-item"><a class="page-links" >1</a></li>
            <li class="page-item"><a class="page-links" >2</a></li>
            <li class="page-item"><a class="page-links" >3</a></li>
            <li class="page-item"><a class="page-links" >4</a></li>
            <li class="page-item"><a class="page-links" >5</a></li>
            <li class="page-item"><a class="page-links" >6</a></li>
            <li class="page-item"><a class="page-links" >7</a></li>
            <li class="page-item"><a class="pages-links" >Next</a></li>
        </ul>
    </nav>
    
    
    
    
    
    
    
    
    <!-- Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" style="max-width: 721px;" role="document">
            <div class="modal-content">
    
                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel2">Delivery Charges</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><img src="assets/images/close.svg" alt="close"></span></button>
                </div>
    
                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="location-info">Location Info</div>
                        <div class="col-md-12 mt-2 area-bg">
                            <div class="area"> Area 1 <br> <span class="area-name">Hamala > Zallaq</span></div>
                        </div>
    
                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label delivery-amount">Min order amount</label>
                            <input type="text" class="form-control input-bill" placeholder="ENTER AMOUNT">
                            <div class="bg-bhd">
                                <h4 class="bhd">BHD</h4>
                            </div>
                        </div>
    
                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label delivery-amount">Delivery Charges </label>
                            <div class="row">
                                <div class="col-4">
                                    <div class="btn btn-free"> FREE</div>
                                </div>
                                <div class="col-4">
                                    <div class="btn btn-paid">PAID</div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label delivery-amount">DELIVERY AMOUNT</label>
                            <input type="text" class="form-control input-bill" placeholder="DELIVERY CHARGES">
                            <div class="bg-bhd">
                                <h4 class="bhd">BHD</h4>
                            </div>
                        </div>
    
                    </form>
                    <div class="row mt-4 mb-5">
                        <div class="col-md-6 mt-3">
                            <div class="btn clear">CLEAR</div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="btn save">SAVE</div>
                        </div>
                    </div>
                </div>
    
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
    
</div>