<div class="container-fluid p-5">
    <div class="row manage-address">
        <div class="col-md-1">
            <img class="profile" src="assets/images/user.png" alt="user">
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <h4 class="customer-name">Customer Name</h4>
                </div>
                <div class="col-12">
                    <div class="customer-heading">Mobile</div>
                </div>
                <div class="col-12 mt-1">
                    <div class="customer-detail">+9588495545</div>
                </div>

            </div>

        </div>
        <div class="col-md-3 mt-4">
            <div class="col-12">
                <div class="customer-heading">Email</div>
            </div>
            <div class="col-12 mt-1">
                <div class="customer-detail">fabona1333@aramask.com</div>
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12">
            <form class="row g-3">
                <div class="col-md-6 mt-4">
                    <label for="validationDefault01" class="form-label input-title">NAME</label>
                    <input type="text" class="form-control input-text" id="validationDefault01" placeholder="Enter"
                        required>
                </div>
                <div class="col-md-6 mt-4">
                    <label for="validationDefault02" class="form-label input-title">USER NAME</label>
                    <input type="text" class="form-control input-text" id="validationDefault02" placeholder="Enter"
                        required>
                </div>


                <div class="col-md-6 mt-4">
                    <label for="validationDefault01" class="form-label input-title">EMAIL ID</label>
                    <input type="text" class="form-control input-text" id="validationDefault01" placeholder="Enter"
                        required>
                </div>
                <div class="col-md-6 mt-4">
                    <label for="validationDefault02" class="form-label input-title">MOBILE NUMBER</label>
                    <input type="text" class="form-control input-text" id="validationDefault02" placeholder="Enter"
                        required>
                </div>
                <div class="col-md-12 mt-4">
                    <label for="validationDefaultUsername" class="form-label input-title">SPECIAL DISCOUNT</label>
                    <div class="input-group">
                        <input type="text" class="form-control input-text" id="validationDefaultUsername"
                            placeholder="Enter" aria-describedby="inputGroupPrepend2" required>
                        <span class="input-groups" id="inputGroupPrepend2">%</span>
                    </div>
                </div>

                <div class="col-md-6 mt-4 text-right">
                    <button class="btn clear" type="submit">CLEAR</button>
                </div>
                <div class="col-md-6 mt-4">
                    <button class="btn update" type="submit">UPDATE</button>
                </div>
            </form>

        </div>

    </div>


</div>