
<div class="container-fluid p-5">

    <h4 class="poppins-medium fs-23">Search for Customers</h4>

    <div class="row mb-4 mt-4 item-center">
        <div class="col-md-8 mb-3">
            <div class="row">
                <div class="col-7">
                    <img src="assets/images/search.svg" alt="search" class="search-icon"><input type="text"
                        class="form-control worksans-regular h-52 fs-16 search-pading" value=""
                        placeholder="Search for orders by order ID">
                </div>
                <div class="col-5">
                    <div class="btn filter" data-toggle="modal" data-target="#myModal2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                            <path d="M7.33014 13.093H1.02942" stroke="#1E4894" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M10.1405 3.40066H16.4412" stroke="#1E4894" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.72629 3.34625C5.72629 2.0506 4.66813 1 3.36314 1C2.05816 1 1 2.0506 1 3.34625C1 4.64191 2.05816 5.69251 3.36314 5.69251C4.66813 5.69251 5.72629 4.64191 5.72629 3.34625Z"
                                stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M17 13.0533C17 11.7576 15.9426 10.707 14.6376 10.707C13.3318 10.707 12.2737 11.7576 12.2737 13.0533C12.2737 14.3489 13.3318 15.3995 14.6376 15.3995C15.9426 15.3995 17 14.3489 17 13.0533Z"
                                stroke="#1E4894" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg> &nbsp; Filter
                    </div>
                </div>

            </div>
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->

        </div>

        <div class="col-md-4 text-right">
            <div class="btn add-item"> <svg xmlns="http://www.w3.org/2000/svg" width="23" height="26"
                    viewBox="0 0 23 26" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14.7026 1.01566H6.01056C3.29265 1.00521 1.06475 3.17039 1.00072 5.8883V20.0646C0.954988 22.7433 3.08881 24.9529 5.76882 24.9999C5.84853 24.9999 5.92955 24.9999 6.01056 24.9973H16.4484C19.1519 24.9699 21.3262 22.7681 21.3223 20.0646V7.91236L14.7026 1.01566Z"
                        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.3599 1V4.80115C14.3599 6.65665 15.8612 8.16065 17.7167 8.16587H21.3154" stroke="white"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.124 14.2813H7.72119" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M10.9236 17.4819V11.0791" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg> &nbsp; Create New Order </div>
        </div>
    </div>

    <div class="row mt-4 scroll">
        <div class="col">
            <table class="table border">

                <thead>
                    <tr>
                        <th scope="row" class="all-order">All Orders(50)</th>
                    </tr>
                    <tr class="table-header">
                        <th class="text-center" scope="col">order no</th>
                        <th scope="col">order date</th>
                        <th scope="col">customer name</th>
                        <th scope="col">mobile</th>
                        <th scope="col">mail</th>
                        <th scope="col">no of items</th>
                        <th scope="col">booked via</th>
                        <th class="text-center" scope="col">booked status</th>
                        <th class="text-center" scope="col">payment status</th>
                        <th class="text-center" scope="col">action</th>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn" [routerLink]="'/order-detail'">View order</button>
                                    <button ngbDropdownItem class="action-btn" data-toggle="modal" data-target="#myModal1">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn" [routerLink]="'./status-update'">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">892778</td>
                        <td>26 Jan 2023</td>
                        <td>John Kenn..</td>
                        <td>+9678..</td>
                        <td>johnken@</td>
                        <td class="text-center">3</td>
                        <td class="text-center">POS</td>
                        <td>
                            <div class="t-progress">Booked <svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path
                                        d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                        stroke="#1E4894" />
                                </svg></div>
                        </td>
                        <td class="text-center fs-17">Success <svg xmlns="http://www.w3.org/2000/svg" width="15" height="16"
                                viewBox="0 0 15 16" fill="none">
                                <path
                                    d="M7.5 15C3.63401 15 0.5 11.866 0.5 8C0.5 5.76904 1.54367 3.78183 3.1694 2.5M7.5 1C11.366 1 14.5 4.13401 14.5 8C14.5 10.231 13.4563 12.2182 11.8306 13.5M11.5 10.5V14H15M0 2H3.5V5.5"
                                    stroke="#1E4894" />
                            </svg></td>
                        <td class="text-center">
                            <div ngbDropdown>
                                <div class="btn" id="dropdownBasic1" ngbDropdownToggle>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="7" viewBox="0 0 35 7"
                                        fill="none">
                                        <circle cx="3.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="17.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                        <circle cx="31.5" cy="3.5" r="3.5" fill="#4C4D52" />
                                    </svg>
                                </div>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem class="action-btn">View order</button>
                                    <button ngbDropdownItem class="action-btn">Update Payment</button>
                                    <button ngbDropdownItem class="action-btn">Update Status</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>





    <!-- FILTER Modal -->
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" style="max-width: 721px;" role="document">
            <div class="modal-content">

                <div class="modal-header item-baseline modal-header-name">
                    <h4 class="modal-title" id="myModalLabel2">Filter Orders</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                                <path d="M15.793 15.782L9.70583 9.69482" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M9.70143 15.7846L15.7949 9.69238" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2554 1H7.24338C3.40589 1 1 3.71711 1 7.56222V17.9378C1 21.7829 3.39446 24.5 7.24338 24.5H18.2541C22.1043 24.5 24.5 21.7829 24.5 17.9378V7.56222C24.5 3.71711 22.1043 1 18.2554 1Z" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg></span></button>
                </div>

                <div class="modal-body">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-12 mt-2">
                            <label for="validationCustom04" class="form-label h-filter">Type</label>
                            <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                                required>
                                <option selected disabled value="">All</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label h-filter">Basket Type</label>
                            <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                                required>
                                <option selected disabled value="">All</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label h-filter">Status</label>
                            <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                                required>
                                <option selected disabled value="">All</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label h-filter">Payment Status</label>
                            <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                                required>
                                <option selected disabled value="">All</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label for="validationCustom04" class="form-label h-filter">Date</label>
                            <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                                required>
                                <option selected disabled value="">All</option>
                                <option>...</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid state.
                            </div>
                        </div>


                        <div class="col-md-12 mt-3">
                            <label for="validationCustom02" class="form-label h-filter">Date Range</label>
                            <input type="date" class="form-control-date text-xs text-gray-200 poppins-regular"
                                id="validationCustom02" placeholder="Special Discount" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                    </form>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-6 mt-3">
                            <div class="btn clear">Clear</div>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="btn save">Add Customer</div>
                        </div>
                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>










    <!-- PAYMENT UPDATE Modal -->
<div class="modal right fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" style="max-width: 721px;" role="document">
        <div class="modal-content">

            <div class="modal-header item-baseline modal-header-name">
                <h4 class="modal-title" id="myModalLabel2">Update Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                            <path d="M15.793 15.782L9.70583 9.69482" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.70143 15.7846L15.7949 9.69238" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2554 1H7.24338C3.40589 1 1 3.71711 1 7.56222V17.9378C1 21.7829 3.39446 24.5 7.24338 24.5H18.2541C22.1043 24.5 24.5 21.7829 24.5 17.9378V7.56222C24.5 3.71711 22.1043 1 18.2554 1Z" stroke="#130F26" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                          </svg></span></button>
            </div>

            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate>
                    
                    <div class="col-md-12 mt-2">
                        <h4 class="m-customer">customer details</h4>
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <img src="assets/images/user.png" alt="user">
                            </div>
                            <div class="col-md-11 mt-2">
                                <span class="invoice-topic">Karthick Siva</span> <br> <span class="invoice-detail">
                                    Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, <br>
                                    Bangalore-560016</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-5">
                       <div class="row">
                        <div class="col-4">
                            <div class="invoice-topic">ORDER1234</div>
                        </div>
                        <div class="col-4">
                            <div class="m-booked">Booked</div>
                        </div>

                       </div>
                    </div>

                    <div class="col-md-12 mt-2">
                        <h4 class="m-customer">payment info</h4>
                        <div class="row">
                            <div class="col-md-6 mt-2">
                                <div class="row benefit">
                                    <div class="col-2">
                                        <img src="assets/images/payment.png" alt="payment">
                                    </div>
                                    <div class="col-6">
                                        <div class="cash">Benefit</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row benefit">
                                    <div class="col-2">
                                        <img src="assets/images/payment.png" alt="payment">
                                    </div>
                                    <div class="col-6">
                                        <div class="cash">Credit card</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row benefit">
                                    <div class="col-2">
                                        <img src="assets/images/payment.png" alt="payment">
                                    </div>
                                    <div class="col-6">
                                        <div class="cash">Cash</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-3">
                                <div class="row benefit">
                                    <div class="col-2">
                                        <img src="assets/images/payment.png" alt="payment">
                                    </div>
                                    <div class="col-6">
                                        <div class="cash">Others</div>
                                    </div>
                                    <div class="col-4 text-right">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom04" class="form-label h-filter">Amount</label>
                        <input type="text" class="form-control text-gray-200 sm poppins-regular h-53" placeholder="100">
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom04" class="form-label h-filter">Payment Date</label>
                        <input type="text" class="form-control text-gray-200 sm poppins-regular h-53" placeholder="Choose Date">
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom04" class="form-label h-filter">Comments</label>
                        <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom04" class="form-label h-filter">Collected From</label>
                        <select class="form-select text-gray-200 sm poppins-regular" id="validationCustom04"
                            required>
                            <option selected disabled value="">Cash</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>


                </form>
                <div class="row mt-3 mb-5">
                    <div class="col-md-6 mt-3">
                        <div class="btn clear">Clear</div>
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="btn save">Update</div>
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>




</div>