<div class="container-fluid p-5">
    <div class="row status mb-4">
        <div class="col-md-2 mt-2 mb-2">
            <span class="order">Order No</span> <br> <span class="booked">123GSN</span>
        </div>
        <div class="col-md-2 mt-2 mb-2">
            <span class="order">Order Date</span> <br> <span class="booked">28.02.23</span>
        </div>
        <div class="col-md-2 mt-2 mb-2">
            <span class="order">Payment Type</span> <br> <span class="booked">fabona1333@aramask.com</span>
        </div>
        <div class="col-md-2 method-order mt-2 mb-2">
            <span class="order">Method</span> <br> <span class="booked">Online</span>
        </div>
        <div class="col-md-2 mt-2 mb-2">
            <span class="order">Order Status</span> <br> <span class="booked">Booked</span>
        </div>
        <div class="col-md-2 mt-2 mb-2">
            <span class="order">Payment Status</span> <br> <span class="booked">Booked</span>
        </div>
    </div>




    <div class="row mt-4 scroll">
        <div class="col">
            <table class="table">


                <tbody class="t-body">
                    <tr>
                        <td scope="row">
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/bookedOrder.svg" alt="booked">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="t-booked"> Booked</span>
                                </div>
                            </div>
                        </td>
                        <td class="pickup-done">By Me</td>
                        <td class="pickup-done">28.02.23 12:00PM </td>
                        <td class="pickup-done">Dress Pickup done</td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/bookedOrder.svg" alt="booked">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="t-booked">Pickup</span>
                                </div>

                            </div>
                        </td>
                        <td class="pickup-done">By Admin</td>
                        <td class="pickup-done">28.02.23 12:00PM </td>
                        <td class="pickup-done">Dress Pickup done</td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/bookedOrder.svg" alt="booked">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="t-booked"> Booked</span>
                                </div>
                            </div>
                        </td>
                        <td class="pickup-done">By Me</td>
                        <td class="pickup-done">28.02.23 12:00PM </td>
                        <td class="pickup-done">Dress Pickup done</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="bending">Received</span>
                                </div>

                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="bending">Inprogress</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div> &nbsp;
                                <div class="col-6">
                                    <span class="bending">Ready</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div> &nbsp;
                                <div class="col">
                                    <span class="bending">Out for Delivery</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div>&nbsp;
                                <div class="col-6">
                                    <span class="bending">Delivered</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div>&nbsp;
                                <div class="col-6">
                                    <span class="bending">Completed</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div>&nbsp;
                                <div class="col-6">
                                    <span class="bending">Cancelled</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="row booking-p">
                                <div class="col-1">
                                    <img src="assets/images/received.svg" alt="received">
                                </div>&nbsp;
                                <div class="col-6">
                                    <span class="bending">Returned</span>
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>