<h4 class="location-h">Location</h4>

<div class="dashboard">
    <div class="row border-r align-items-center text-center p-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>


    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>

    <div class="row border-r align-items-center text-center p-3 mt-3">
        <div class="col-md-2">
            <div class="location"> Area name 1 <br> <span class="location-br">Chennai > Guindy </span></div>

        </div>
        <div class="col-md-2">
            <div class="location"> 3.000 BHD <br> <span class="location-br"> Min Order Amount </span></div>
        </div>
        <div class="col-md-2">
            <div class="location"> FREE <br> <span class="location-br">Delivery Charges</span> </div>
        </div>
        <div class="col-md-2">
            <div class="btn edit"> <img src="assets/images/edit.png" alt="edit"> Edit</div>
        </div>
        <div class="col-md-4">
            <div class="row align-items-center">
                <div class="col service">
                     Service Available
                </div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label>
                </div>
            </div>  
        </div>
    </div>


</div>
