<div class="container-fluid">
    <div class="row p-4">
        <div class="col-12">
            <div class="row align-items-center">
                <div class="col-2">
                    <img class="logo" src="assets/images/logo.svg" alt="logo">
                </div>
                <div class="col-10 text-right">
                    <div class="btn login-partner" routerLink="/login">
                        Login as a partner
                    </div> &nbsp;
                    <div class="btn download-app">
                        Download App
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-12 connect">
            <div class="connect-customer mb-5">
                Join FLexiclean Today ! <br>
                Connect with Customers !
            </div>
            <div class="btn download-app">Download App</div> &nbsp;
            <div class="btn login-partner">Request Demo</div>
        </div>
    </div>

    <div class="row mt-3 mb-3 b-feature">
        
        <div class="col-12">
            <h4 class="agent-head">Business Features</h4>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="row p-5">
                        <div class="col-12 bussines-f">
                            <img class="feature mb-3" src="assets/images/revenue.svg" alt="revenue">
                            <h5 class="feature-head">Work at your Convenience</h5>
                            <p class="feature-para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row p-5">
                        <div class="col-12 bussines-f">
                            <img class="feature mb-3" src="assets/images/current.svg" alt="customer">
                            <h5 class="feature-head">New & Current Customers</h5>
                            <p class="feature-para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row p-5">
                        <div class="col-12 bussines-f">
                            <img class="feature mb-3" src="assets/images/revenue.svg" alt="revenue">
                            <h5 class="feature-head">Revenue Model</h5>
                            <p class="feature-para">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-12 partner-solution">
            <h4 class="agent-head">Partner solutions</h4>
            <div class="row mt-3 mb-4 align-items-center">
                <div class="col-md-6 p-75">
                    <h5 class="solution-head">Add Shop Online</h5>
                    <p class="solution-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="assets/images/sale.svg" alt="online-shop">
                </div>
            </div>
            <div class="row mt-4 mb-4 align-items-center">
                <div class="col-md-6 text-center order-lg-1 order-2">
                    <img src="assets/images/deliverys.svg" alt="deliverys">
                </div>
                <div class="col-md-6 p-75 order-lg-2 order-1">
                    <h5 class="solution-head">Delivered by Flexiclean</h5>
                    <p class="solution-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate</p>
                </div>
            </div>
            <div class="row mt-4 mb-4 align-items-center">
                <div class="col-md-6 p-75">
                    <h5 class="solution-head">Add a point of sale</h5>
                    <p class="solution-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="assets/images/sale.svg" alt="sale">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-5 pt-5">
            <h4 class="agent-head">Our Commitment to Help you Grow</h4>
            <div class="row align-items-center grow">
                <div class="col-md-6 mt-3 mb-3">
                    <img src="assets/images/help.svg" alt="help">
                </div>
                <div class="col-md-6 mt-3 mb-3">
                    <div class="row notification">
                        <div class="col-12 help">
                            <h5 class="help-head">Account Manager</h5>
                            <p class="help-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun</p>
                        </div>
                        <div class="col-12 help">
                            <h5 class="help-head">Staff Training</h5>
                            <p class="help-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun</p>
                        </div>
                        <div class="col-12 help">
                            <h5 class="help-head">Performance reviews</h5>
                            <p class="help-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun</p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>

        <div class="col-12 mb-5 mt-5">
            <div class="row justify-content-center">
                <div class="col-9 next-level">
                     <div class="row">
                        <div class="col-lg-6">
                            <h4 class="ready">Ready to take your
                                business to the next level ? </h4>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="Enter your work email">
                            <div class="btn request-demo">Request Demo</div>
                        </div>
                     </div>
                </div>

            </div>
        </div>

    </div>

    <footer>
        <div class="row pt-5 mt-5">
            <div class="col-12 footer">
                <div class="row justify-content-center p-4">
                    <div class="col-10">
                        <div class="row align-items-center">
                            <div class="col-md-3 mb-2">
                                <img class="f-logo" src="assets/images/logo.svg" alt="logo">
                            </div>
                            <div class="col-md-2 mb-2">
                                <div class="f-list">Features</div>
                            </div>
                            <div class="col-md-2 mb-2">
                                <div class="f-list">Contact</div>
                            </div>
                            <div class="col-md-2 mb-2">
                                <div class="f-list">Request Demo</div>
                            </div>
                            <div class="col-md-3 mb-2">
                                <div class="rounded-social-buttons">
                                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a> &nbsp;
                                    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a> &nbsp;
                                    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <hr class="line">
                        <div class="row">
                            <div class="col-12 mt-4 mb-3 text-center">
                                <div class="f-rights">@2022 flexiclean All rights reserved</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>