<div class="container-fluid p-5">
    <div class="row mb-2 item-center pt-4">
        <div class="col-md-4">
            <h4 class="subscription mb-3">MY SUBSCRIPTION</h4>
            <h4 class="sub-detail mb-4">SUBSCRIPTION DETAILS</h4>
        </div>
        <div class="col-md-8 text-right">
            <div class="btn new-user" data-toggle="modal"
            data-target="#myModal2"> <img src="assets/images/add-payment.svg" alt="add-payment">&nbsp; Add Payment Method</div>
        </div>
    </div>
   
    
    <div class="row sub-expire align-items-center">
        <div class="col-md-4">
            <div class="row">
                <div class="col-2 text-center mt-2">
                    <img class="img-detail" src="assets/images/subscription.svg" alt="subscription">
                </div>
                <div class="col-10">
                    <div class="bhd"> 3.000 BHD<br><span class="bhd-sub">Subsribed On</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-2 text-center mt-2">
                    <img class="img-detail" src="assets/images/calender.svg" alt="calender">
                </div>
                <div class="col-10">
                    <div class="bhd"> 5 days to Expire <br> <span class="bhd-sub"> Auto Renewal Enabled </span></div>
                </div>
            </div>
        </div>
    
        <div class="col-md-3">
            <div class="btn sub-cancel"> Cancel Subscription </div>
        </div>
    
    </div>
    
    <h4 class="sub-detail mt-3 mb-3">CARD DETAILS</h4>
    
    <div class="row align-items-center s-border p-3">
        <div class="col-md-3 mt-2">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 ****</div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="add-card">Added on / Debit card</div>
        </div>
    
        <div class="col-md-2 mt-2">
            <div class="primary">Primary </div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="btn active"> Active </div>
        </div>
    
        <div class="col-md-1 mt-2">
            <img src="assets/images/bin.svg" alt="bin">
        </div>
    </div>
    
    <div class="row align-items-center s-border p-3 mt-3">
        <div class="col-md-3 mt-2">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 ****</div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="add-card">Added on / Debit card</div>
        </div>
    
        <div class="col-md-2 mt-2">
            <div class="primary"></div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="btn active"> Active </div>
        </div>
    
        <div class="col-md-1 mt-2">
            <img src="assets/images/bin.svg" alt="bin">
        </div>
    </div>
    
    <div class="row align-items-center s-border p-3 mt-3">
        <div class="col-md-3 mt-2">
            <div class="number"><img src="assets/images/visa.png" alt="visa"> &nbsp; 9873 6648 ****</div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="add-card">Added on / Debit card</div>
        </div>
    
        <div class="col-md-2 mt-2">
            <div class="primary"> </div>
        </div>
    
        <div class="col-md-3 mt-2">
            <div class="btn active"> Active </div>
        </div>
    
        <div class="col-md-1 mt-2">
            <img src="assets/images/bin.svg" alt="bin">
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-md-6 mt-2">
            <h4 class="sub-detail mt-3 mb-3">Transaction / Invoice</h4> 
        </div>
        <div class="col-md-6 mt-2 text-right">
            <div class="btn filter"> <img src="assets/images/filter.png" alt="filter"> &nbsp; Filter</div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col">
            <table class="table border">
    
                <thead>
                    <tr class="table-header">
                        <th scope="col">TREANSACTION ID</th>
                        <th scope="col">date</th>
                        <th scope="col">plan</th>
                        <th scope="col">card details</th>
                        <th scope="col">amount</th>
                        <th scope="col">PAYMENT
                            STATUS</th>
                        <th class="text-center" scope="col">action</th>
                    </tr>
                </thead>
                <tbody class="t-body invoice">
                    <tr>
                        <td scope="row" class="align-middle">TXN 002</td>
                        <td class="align-middle">02/04/2323</td>
                        <td class="align-middle">Free Plan</td>
                        <td class="align-middle"><span class="renewal">Auto renewal</span> <br> <span class="renewal-no">9873 6648 ****</span></td>
                        <td class="align-middle">0.150BHD</td>
                        <td class="align-middle">Success</td>
                        <td class="text-center invoice align-middle">Invoice &nbsp; 
                            <img src="assets/images/download.svg" alt="download">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row" class="align-middle">TXN 002</td>
                        <td class="align-middle">02/04/2323</td>
                        <td class="align-middle">Free Plan</td>
                        <td class="align-middle"><span class="renewal">Auto renewal</span> <br> <span class="renewal-no">9873 6648 ****</span></td>
                        <td class="align-middle">0.150BHD</td>
                        <td class="align-middle">Success</td>
                        <td class="text-center invoice align-middle">Invoice &nbsp; 
                            <img src="assets/images/download.svg" alt="download">
                        </td>
                    </tr>

                    <tr>
                        <td scope="row" class="align-middle">TXN 002</td>
                        <td class="align-middle">02/04/2323</td>
                        <td class="align-middle">Free Plan</td>
                        <td class="align-middle"><span class="renewal">Auto renewal</span> <br> <span class="renewal-no">9873 6648 ****</span></td>
                        <td class="align-middle">0.150BHD</td>
                        <td class="align-middle">Success</td>
                        <td class="text-center invoice align-middle">Invoice &nbsp; 
                            <img src="assets/images/download.svg" alt="download">
                        </td>
                    </tr>

                    <tr>
                        <td scope="row" class="align-middle">TXN 002</td>
                        <td class="align-middle">02/04/2323</td>
                        <td class="align-middle">Free Plan</td>
                        <td class="align-middle"><span class="renewal">Auto renewal</span> <br> <span class="renewal-no">9873 6648 ****</span></td>
                        <td class="align-middle">0.150BHD</td>
                        <td class="align-middle">Success</td>
                        <td class="text-center invoice align-middle">Invoice &nbsp; 
                            <img src="assets/images/download.svg" alt="download">
                        </td>
                    </tr>

                    <tr>
                        <td scope="row" class="align-middle">TXN 002</td>
                        <td class="align-middle">02/04/2323</td>
                        <td class="align-middle">Free Plan</td>
                        <td class="align-middle"><span class="renewal">Auto renewal</span> <br> <span class="renewal-no">9873 6648 ****</span></td>
                        <td class="align-middle">0.150BHD</td>
                        <td class="align-middle">Success</td>
                        <td class="text-center invoice align-middle">Invoice &nbsp; 
                            <img src="assets/images/download.svg" alt="download">
                        </td>
                    </tr>
    
    
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination pt-4 mb-5">
                    <li class="page-item"><a class="pages-links" >Previous</a></li>
                    <li class="page-item"><a class="page-links" >1</a></li>
                    <li class="page-item"><a class="page-links" >2</a></li>
                    <li class="page-item"><a class="page-links" >3</a></li>
                    <li class="page-item"><a class="page-links" >4</a></li>
                    <li class="page-item"><a class="page-links" >5</a></li>
                    <li class="page-item"><a class="page-links" >6</a></li>
                    <li class="page-item"><a class="page-links" >7</a></li>
                    <li class="page-item"><a class="pages-links" >Next</a></li>
                </ul>
            </nav>
    
        </div>
    
    </div>
</div>





















<!-- PAYMENT-METHOD -->


<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" style="max-width: 721px;" role="document">
        <div class="modal-content">

            <div class="modal-header item-baseline modal-header-name">
                <h4 class="modal-title" id="myModalLabel2">Choose Payment method </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                            alt="close"></span></button>
            </div>

            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate>
                
                    <div class="col-md-12 mt-3">
                        <div class="row choose-payment">
                            <div class="col-md-2">
                                <img class="pay" src="assets/images/payment.svg" alt="payment">
                            </div>
                            <div class="col-md-6">
                                <div class="benifit">Benifit</div>
                            </div>
                            <div class="col-md-4 text-right mt-2">
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" class="input-radios off">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row choose-payment">
                            <div class="col-md-2">
                                <img class="pay" src="assets/images/payment.svg" alt="payment">
                            </div>
                            <div class="col-md-6">
                                <div class="benifit">Card</div>
                            </div>
                            <div class="col-md-4 text-right mt-2">
                                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" class="input-radios on" checked>
                            </div>
                        </div>
                    </div>

                </form>
                
            </div>

            <div class="row mt-4 p-3">
                <div class="col-md-6 mt-3">
                    <div class="btn clear">Clear</div>
                </div>
                <div class="col-md-6 mt-3 mb-3">
                    <div class="btn next-btn">Next</div>
                </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>








