.container-fluid{
    background-color: #fff;
}




.subscription {
    color: #3960A1;
    font-size: 20px;
    font-family: 'Poppins, SemiBold';
}

.new-user {
    color: #FFF;
    font-family: "Work-sans, Medium";
    font-size: 13.739px;
    font-weight: 500;
    border-radius: 8px;
    background: #285198;
    padding: 14px 43px;
}
.filter {
    border: 2px solid #cdd7e7;
    padding: 13px 18px 13px 18px;
    color: #1E4894;
    font-family: "Work-sans, Semibold";
    font-size: 13.739px;
    border-radius: 8px;
    margin-right: 1rem;
    // width: fit-content;
}


.sub-detail {
    color: #898A93;
    font-size: 17.25px;
    font-family: 'Work-sans, SemiBold';
}

.sub-expire {
    background: #EBEEF6;
    padding: 20px;
}

.bhd {
    color: #1E4894;
    font-size: 24.74px;
    font-family: 'Work-sans, Semibold';
}

.bhd-sub {
    color: #898A93;
    font-size: 14px;
    font-family: 'Work-sans, Semibold';
}

.sub-cancel {
    border-radius: 4px;
    background: #FF8777;
    font-family: 'Work-sans, Medium';
    color: #FCFBFD;
    font-size: 13.739px;
    padding: 12px;
    width: 167px;
    height: 44px;
}

.primary {
    color: #FF3F25;
    font-size: 19px;
    font-family: 'Work-sans, Medium';
}

.active {
    border-radius: 3.5px;
    background: #E3F0E9;
    color: #00B79D;
    font-size: 17.746px;
    font-family: "Roboto, Medium";
    padding: 4px;
    width: 126px;
    height: 35.493px;
}

.add-card {
    color: #898A93;
    font-size: 15px;
    font-family: 'Work-sans, Medium';
}

.number {
    font-family: 'Work-sans, Semibold';
    color: #585858;
    font-size: 14px;
}

.s-border {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.table-header {
    background: #EBEEF6;
    color: #979AA5;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Work-sans, Regular';
    font-weight: 600;
}

.w-15 {
    width: 15px;
}

.invoice {
    color: #585858;
    font-size: 14px;
    font-family: 'Work-sans, Medium';
}

.renewal{
    color: #61d0c2;
    font-size: 14px;
    font-family: 'Work-sans, Medium';
    font-weight: 600;
}

.renewal-no{
    color: #585858;
    font-family: 'Work-sans, Medium';
font-size: 12px;
font-weight: 600;
opacity: 0.5;
}

.scroll{
    overflow: scroll;
}











/* PAGINATION */


.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: start;
    align-items: center;
  }
  
  
  .page-item:first-child .page-links {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  
  /* .page-item:first-child .pages-links {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  } */
  
  .page-links {
    padding: .375rem .75rem;
  }
  
  .pages-links {
    padding: .375rem .75rem;
  }
  
  .page-links {
    position: relative;
    display: block;
    // font-size: 15px;
    font-weight: 500;
    color: #303030;
    opacity: 0.6000000238418579;
    text-align: center;
    font-family: 'Roboto, Medium';
    text-decoration: none;
    width: 37px;
    height: 36px;
    background-color: transparent;
    /* border: 1px solid #dee2e6; */
    // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  
  .pages-links {
    position: relative;
    display: block;
    // width: 5rem;
    padding: 0.6rem 2.8rem;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    font-family: 'Roboto, Medium';
    color: #303030;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #000000;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .page-item:not(:first-child) .page-links {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .page-item:not(:first-child) .pages-links {
    margin-left: -1px;
  }
  
  .page-links:hover {
    // z-index: 2;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto, Medium';
    background-color: #285198;
    // border-color: #285198;
    border-radius: 2rem;
    width: 37px;
    height: 36px;
    // padding: 4px 11px;
  }
  
  .pages-links:hover {
    // z-index: 2;
    color: #285198;
    font-family: 'Roboto, Medium';
    font-size: 10px;
    background-color: #fff;
    border-color: #285198;
  }
  
  
  
  
  
  
  
  
  
  
  
  @media (min-width: 1024px)  {
    // .container-fluid{
    //     height: 100vh;
    // }
    .pagination {
      display: flex;
      padding-left: 0;
      list-style: none;
      justify-content: end;
      align-items: center;
    }
  }
  