
    <div class="container-fluid">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-9">

                <div class="card o-hidden border-0">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 hg-100">
                                <div class="padding">
                                    <div class="text-center">
                                        <img class="flexi mb-4 pb-3" src="assets/images/logo.svg" alt="logo">
                                        <h1 class="mb-2 verify">Verify OTP</h1>
                                        <p class="mb-5 pb-2 v-code">Verification code send to (+91 3434344330)</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <div class="inputfield">
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                                <input type="number" maxlength="1" class="input"/>
                                              </div>
                                        </div>
                                        <div class="text-center mt-4 mb-3">
                                            <h4 class="v-otp">You will recive OTP within 60 seconds</h4>
                                        </div>
                                        <div class="row mt-4 justify-content-center">
                                            <div class="col-11">
                                                <a href="javascript:void(0);" routerLink="/otp-verification" class="btn btn-login btn-user btn-block">
                                                    VERIFY
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <!-- <hr>
                                    <div class="text-center">
                                        <a class="small" href="#">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="javascript:void(0);" routerLink="/login">Already have an account? Login!</a>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

