.poppins-bold {
  font-family: "Poppins, Bold";
}

.poppins-semibold {
  font-family: "Poppins, SemiBold";
}

.poppins-medium {
  font-family: "Poppins, Medium";
}

.poppins-regular {
  font-family: "Poppins, Regular";
}

.poppins-light {
  font-family: "Poppins, Light";
}

.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #f3f5f9;
}

img.flexi {
  width: 127px;
  height: 97px;
}

.padding {
  padding: 4rem 9rem 1rem 9rem;
}

.hg-100 {
  height: 100vh;
}

.bg-password-image {
  background: url("~src/assets/images/auth.svg") no-repeat;
  background-position: center;
  background-size: 25rem;
  background-color: rgba(243, 245, 249, 1);
  height: 100vh;
}


.btn-login {
  color: #fff;
  background-color: #1E4893;
  border-color: #9A9DA5;
  font-family: "Poppins, Medium";
}

.btn-login:hover {
  color: #1E4893;
  background-color: #fff;
  border-color: #1E4893;
  font-family: "Poppins, Medium";
}

.btn-login:focus,
.btn-login.focus {
  color: #fff;
  background-color: #1E4893;
  border-color: #1E4893;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 0.85rem 1rem;
  font-family: "Poppins, Medium";
}

.btn-login.disabled,
.btn-login:disabled {
  color: #9A9DA5;
  background-color: #3b5998;
  border-color: #9A9DA5;
  font-family: "Poppins, Medium";
}

.btn-login:not(:disabled):not(.disabled):active,
.btn-login:not(:disabled):not(.disabled).active,
.show>.btn-login.dropdown-toggle {
  color: #9A9DA5;
  background-color: #2d4373;
  border-color: #dfdfdf;
  font-family: "Poppins, Medium";
}

.btn-login:not(:disabled):not(.disabled):active:focus,
.btn-login:not(:disabled):not(.disabled).active:focus,
.show>.btn-login.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.verify {
  color: #1C2330;
  font-family: 'Poppins, Medium';
  font-size: 40.024px;
  font-weight: 600;
  text-align: start;
  padding: 0px 6px 9px 23px;
}


.v-code {
  color: #9A9DA5;
  font-family: 'Poppins, Medium';
  font-size: 18.835px;
  font-weight: 500;
}

.inputfield {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.input {
  height: 3em;
  width: 3em;
  border: 2px solid #dad9df;
  outline: none;
  text-align: center;
  font-size: 1.5em;
  border-radius: 0.3em;
  background-color: #ffffff;
  outline: none;
  /*Hide number field arrows*/
  /* -moz-appearance: textfield; */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:disabled {
  color: #89888b;
}

.input:focus {
  border: 3px solid #1E4893;
}

.v-otp {
  color: #000;
  font-family: 'Poppins, Medium';
  font-size: 16.48px;
  opacity: 0.5;
  font-weight: 500;
}


















/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
  .container-fluid {
    background-color: #fff;
  }

  .padding {
    padding: 3.5rem;
  }

  .input {
    height: 3.5em;
    width: 3.5em;
    border: 2px solid #dad9df;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    border-radius: 0.3em;
    background-color: #ffffff;
    outline: none;
    margin: 2px;
}

.verify {
  color: #1C2330;
  font-family: "Poppins, Medium";
  font-size: 40.024px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {

  .padding {
    padding: 4rem;
  }

  .input {
    height: 4em;
    width: 4em;
}

.verify {
  color: #1C2330;
  font-family: "Poppins, Medium";
  font-size: 40.024px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

}




// Nest Hub Size Media Queries 

@media (min-width:1024px) and (max-width:1280px) {

  .padding {
    padding: 3rem;
  }

  .verify {
    color: #1C2330;
    font-family: "Poppins, Medium";
    font-size: 40.024px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }

  .input {
    height: 4em;
    width: 4em;
}

}
