
<div class="row">


<div class="col-md-2">
    <div class="nav flex-column nav-pills" id="v-tab" role="tablist" aria-orientation="vertical">
        <a 
            class="nav-link active gray-tab poppins-semibold" 
            id="company-tab" 
            data-toggle="pill" 
            href="#company" 
            role="tab" 
            aria-controls="company" 
            aria-selected="true">
            COMPANY
        </a>
        <a 
            class="nav-link gray-tab poppins-semibold" 
            id="location-tab" 
            data-toggle="pill" 
            href="#location" 
            role="tab" 
            aria-controls="location" 
            aria-selected="true">
            LOCATION
        </a>
        <a 
            class="nav-link gray-tab poppins-semibold" 
            id="timeslot-tab" 
            data-toggle="pill" 
            href="#timeslot" 
            role="tab" 
            aria-controls="timeslot" 
            aria-selected="true">
            TIMESLOT
        </a>
        <a 
            class="nav-link gray-tab poppins-semibold" 
            id="users-tab" 
            data-toggle="pill" 
            href="#users" 
            role="tab" 
            aria-controls="users" 
            aria-selected="true">
            USERS
        </a>
        <a 
            class="nav-link gray-tab poppins-semibold" 
            id="my-subscription-tab" 
            data-toggle="pill" 
            href="#my-subscription" 
            role="tab" 
            aria-controls="my-subscription" 
            aria-selected="true">
            MY SUBSCRIPTION 
        </a>
    </div>
</div>
<div class="col-lg-10">
    <div class="tab-content" id="v-tabContent">
        <div 
            class="tab-pane fade show active" 
            id="company" 
            role="tabpanel" 
            aria-labelledby="company-tab">
            <app-company-details></app-company-details>
        </div>
        <div 
            class="tab-pane fade show" 
            id="location" 
            role="tabpanel" 
            aria-labelledby="location-tab">
            <app-location></app-location>
        </div>
        <div 
            class="tab-pane fade show" 
            id="timeslot" 
            role="tabpanel" 
            aria-labelledby="timeslot-tab">
            <app-timeslot></app-timeslot>
        </div>
        <div 
            class="tab-pane fade show" 
            id="users" 
            role="tabpanel" 
            aria-labelledby="users-tab">
            <app-users></app-users>
        </div>
        <div 
            class="tab-pane fade show" 
            id="my-subscription" 
            role="tabpanel" 
            aria-labelledby="my-subscription-tab">
            <app-subscription></app-subscription>
        </div>
    </div>
</div>

</div>