
    <div class="container-fluid">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-9">

                <div class="card o-hidden border-0">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-6 hg-100">
                                <div class="padding">
                                    <div class="text-center">
                                        <img class="mb-4 pb-3 flexi" src="assets/images/logo.svg" alt="logo">
                                        <h1 class="verifyed">Welcome to Flexiclean</h1>
                                        <p class="mb-4 mt-3 pb-2 setup-profile">Please setup your profile details</p>
                                    </div>

                                    <div class="row mt-4 justify-content-center">
                                        <div class="col-11">
                                            <a href="javascript:void(0);" routerLink="/dashboard" class="btn btn-login btn-user btn-block verifyed-1">
                                                Start
                                            </a>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-block bg-verify-image"></div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
