.wallet-bank {
  position: relative;
  bottom: 5rem;
  padding: 0px 22px;
}

.wallet-filter {
  position: relative;
  bottom: 3rem;
}

.wallet-table {
  position: relative;
  bottom: 1rem;
}

.rating {
  color: #000;
  font-family: "Work-sans, Medium";
  font-size: 17px;
  font-weight: 500;
  padding: 12px 15px;
}

.img-rating {
  margin-left: 15px;
  width: 69px;
  height: 69px;
}

.see-review {
  // padding: 9px 5px 8px 100px;
  text-align: center;
}

.n-rating {
  color: #1E4894;
  font-family: "Work-sans, Medium";
  font-size: 57px;
  font-weight: 600;
  // margin-left: 15px;
  // padding: 19px 15px;
}

.wallet {
  padding: 0px 15px;
}

.review {
  color: #898A93;
  font-family: "Work-sans, Medium";
  font-size: 21px;
  font-weight: 600;
}

.add-bank {
  border-radius: 4px;
  background: #1D4893;
  color: #FFF;
  padding: 11px 12px;
  font-family: "Work-sans, Medium";
  font-size: 13px;
  font-weight: 500;
}

.r-border {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  background: #F3F5F9;
}

.border-bottom {
  border-bottom: 1px solid #DBDDE0;
}

.bhd {
  color: #1E4894;
  font-family: "Work-sans, Medium";
  font-size: 27px;
  font-weight: 600;
  position: relative;
  bottom: 20px;
}

// table{
//   border-collapse: inherit;
// }


.table-header {
  background: #EBEEF6;
  color: #979AA5;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Work-sans, Medium';
  font-weight: 600;
}

#transaction-head tr {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.t-body {
  color: rgba(0, 0, 0, 1);
  font-size: 12.9px;
  font-family: "Work-sans, Medium";
  font-weight: 500;
}


// .scroll {
//   overflow: auto;
// }


.filter {
  border-radius: 8.597px;
  border: 2.149px solid #d7dfec;
  padding: 7px 18px 7px 18px;
  color: #000;
  font-family: "Work-sans, Medium";
  font-size: 14.765px;
  font-weight: 500;
  margin-right: 1rem;
}

img.img-filter {
  width: 17.194px;
  height: 15.475px;
}

img.img-download {
  width: 19.881px;
  height: 18.244px;
}

.pickup {
  //     width: 76.301px;
  // height: 21.493px;
  border-radius: 2.149px;
  background: #E3F0E9;
  color: #00B79D;
  font-family: "Roboto, Medium";
  font-size: 10.747px;
  font-weight: 500;
  padding: 3px 0px 3px 0px;
  margin: 0px 28px 0px 28px;
}


.ht-53 {
  height: 53px;
}

.input-text {
  color: #4C4D52;
  font-size: 16px;
  font-family: 'Work-sans, Regular';
}

.h-filter {
  color: #534D58;
  font-size: 20px;
  font-family: 'Work-sans, Medium';
  font-weight: 600;
}

.modal-header-name {
  color: #000;
  font-size: 20px;
  font-family: 'Poppins, Medium';
}

.clear {
  border-radius: 4px;
  border: 1.5px solid #285198;
  background: #F3F5F9;
  font-family: "Work-sans, Medium";
  color: #285198;
  font-size: 20px;
  width: inherit;
  padding: 11px;
}

.save {
  border-radius: 4px;
  background: #285198;
  color: #FCFBFD;
  font-size: 20px;
  font-family: "Work-sans, Medium";
  width: inherit;
  padding: 11px;
}

img.close-bttn {
  width: 23.5px;
  height: 23.5px;
}

// .clear:hover, .clear:focus, .clear::after, .clear:active{
//   border-radius: 4px;
//   background: #285198;
//   color: #FCFBFD;
//   font-size: 20px;
//   font-family: "Work-sans, Medium";
//   width: inherit;
//   padding: 11px;
// }







/* PAGINATION */


.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: start;
  align-items: center;
}


.page-item:first-child .page-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

/* .page-item:first-child .pages-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
} */

.page-links {
  padding: .375rem .75rem;
}

.pages-links {
  padding: .375rem .75rem;
}

.page-links {
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #303030;
  // opacity: 0.6000000238418579;
  text-align: center;
  font-family: 'Roboto, Medium';
  text-decoration: none;
  width: 37px;
  height: 36px;
  background-color: transparent;
  /* border: 1px solid #dee2e6; */
  // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.pages-links {
  position: relative;
  display: block;
  padding: 0.7rem 2.5rem;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto, Medium";
  color: #303030;
  text-decoration: none;
  border: 0.5px solid rgba(5, 5, 5, 0.50);
  background: rgba(255, 255, 255, 0.20);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item:not(:first-child) .page-links {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-item:not(:first-child) .pages-links {
  margin-left: -1px;
}

.page-links:hover {
  // z-index: 2;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto, Medium';
  background-color: #285198;
  // border-color: #285198;
  border-radius: 2rem;
  width: 37px;
  height: 36px;
  // padding: 4px 11px;
}

.pages-links:hover {
  // z-index: 2;
  color: #285198;
  font-family: 'Roboto, Medium';
  font-size: 10px;
  background-color: #fff;
  border-color: #285198;
}

.page-links.active {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto, Medium';
  background-color: rgba(40, 81, 152, 1);
  border-radius: 2rem;
  width: 37px;
  height: 36px;
}










/*MODAL*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  /* width: 320px; */
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  // overflow-y: auto;
}

.modal-body {
  // max-height: calc(100vh - 200px);
  overflow-y: auto;
}

// .modal.left .modal-body,
// .modal.right .modal-body {
// 	padding: 15px 15px 80px;
// }


/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}



.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}

.btn-demo {
  margin: 15px;
  padding: 10px 15px;
  border-radius: 0;
  font-size: 16px;
  background-color: #FFFFFF;
}

.btn-demo:focus {
  outline: 0;
}

button.close {
  background: transparent;
  border: transparent;
}

















@media (min-width: 1024px) {

  // .container-fluid{
  //     height: 100vh;
  // }
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: end;
    align-items: center;
  }
}






/* MOBILE SCREEN */



/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
  .container-fluid {
    background-color: #fff;
  }

  .scroll {
    overflow-x: auto;
  }

  .wallet {
    position: relative;
    left: 7rem;
  }

  .filter {
    border-radius: 8.597px;
    border: 2.149px solid #d7dfec;
    padding: 8px 11px 8px 11px;
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 14.765px;
    font-weight: 500;
    margin-right: 1rem;
  }

  .wallet-filter {
    position: relative;
    bottom: 2rem;
  }

}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {}




// Nest Hub Size Media Queries 

@media (min-width:1024px) and (max-width:1280px) {

  .add-bank {
    border-radius: 4px;
    background: #1D4893;
    color: #FFF;
    padding: 8px 9px;
    font-family: "Work-sans, Medium";
    font-size: 13px;
    font-weight: 500;
  }

  .review {
    color: #898A93;
    font-family: "Work-sans, Medium";
    font-size: 19px;
    font-weight: 600;
  }

  .n-rating {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 45px;
    font-weight: 600;
  }

  .bhd {
    color: #1E4894;
    font-family: "Work-sans, Medium";
    font-size: 25px;
    font-weight: 600;
    position: relative;
    bottom: 20px;
  }

}


//Zoom in 110 //

@media (min-width:1280px) and (max-width:1480px) {}