<div class="container-fluid wallet-bank">
    <div class="row r-border align-items-center">
        <div class="col-12 border-bottom">
            <div class="rating"> Wallet </div>
        </div>
        <div class="col-1">
            <img class="img-rating" src="assets/images/wallet.png" alt="rating">
        </div>
        <div class="col-8">
            <div class="wallet"><span class="n-rating">250</span> <br> <span class="bhd">BHD</span></div>
        </div>
        <div class="col-md-3">
            <div class="row mb-2">
                <div class="col-4">
                    <img src="assets/images/bank-detail.png" alt="bank-detail">
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="see-review"><span class="review">Bank Details</span></div>
                        </div>
                        <div class="col-12">
                            <h4 class="text-center"><span class="btn add-bank" data-toggle="modal"
                                    data-target="#myModal2">Add Bank details</span></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-right">
    <div class="row justify-content-end">
        <div class="col-7 wallet-filter">
            <div class="btn filter">
                <img class="img-filter" src="assets/images/filter1.svg" alt="filter"> &nbsp; Filter
            </div>
            <div class="btn">
                <img class="img-download" src="assets/images/download.svg" alt="download">
            </div>
        </div>

    </div>
</div>

<div class="container-fluid wallet-table">
    <div class="row scroll">
        <div class="col">

            <table class="table">
                <thead id="transaction-head">
                    <tr class="table-header">
                        <th class="text-center" scope="col">order date</th>
                        <th class="text-center" scope="col">order id</th>
                        <th class="text-center" scope="col">transaction no</th>
                        <th class="text-center" scope="col">type</th>
                        <th class="text-center" scope="col">method</th>
                        <th class="text-center" scope="col">amount spent</th>
                        <th class="text-center" scope="col">payment status</th>
                        <th class="text-center" scope="col">order status</th>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                        <td class="text-center" scope="row">12/03/23</td>
                        <td class="text-center">ORD0001</td>
                        <td class="text-center">TXN0001</td>
                        <td class="text-center">POS</td>
                        <td class="text-center">Cash</td>
                        <td class="text-center">55.000</td>
                        <td class="text-center">Success</td>
                        <td class="text-center">
                            <div class="pickup">Pickup</div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination btn pt-5 mb-5">
                  <li class="page-item"><a class="pages-links" (click)="previousPage()">Previous</a></li>
                  <li class="page-item" *ngFor="let page of [1, 2, 3, 4, 5, 6, 7]; let i = index" (click)="activePage = i+1">
                    <a class="page-links" [ngClass]="{'active': activePage === i+1}" >{{i+1}}</a>
                  </li>
                  <li class="page-item"><a class="pages-links" (click)="nextPage()">Next</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" style="max-width: 721px;" role="document">
        <div class="modal-content">

            <div class="modal-header item-baseline modal-header-name">
                <h4 class="modal-title" id="myModalLabel2">Add Bank Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true"><img class="close-bttn" src="assets/images/close.svg"
                            alt="close"></span></button>
            </div>

            <div class="modal-body">
                <form class="row g-3 needs-validation" novalidate>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom02" class="form-label h-filter mb-3">Bank Account No
                        </label>
                        <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                            placeholder="ENTER ACCOUNT NO" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom02" class="form-label h-filter mb-3">Account Holder Name</label>
                        <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                            placeholder="ENTER HOLDER NAME" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom02" class="form-label h-filter mb-3">Bank Name</label>
                        <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                            placeholder="ENTER BANK NAME" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom02" class="form-label h-filter mb-3">Branch Name</label>
                        <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                            placeholder="ENTER BARANCH NAME" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <label for="validationCustom02" class="form-label h-filter mb-3">Branch IFSC CODE</label>
                        <input type="text" class="form-control input-text ht-53" id="validationCustom02"
                            placeholder="ENTER IFSC CODE" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>


                </form>
                <div class="row mt-4">
                    <div class="col-md-6 mt-3">
                        <div class="btn clear">Clear</div>
                    </div>
                    <div class="col-md-6 mt-3 mb-3">
                        <div class="btn save">Save</div>
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>