

.filter {
    border: 2px solid #1E4894;
    padding: 13px 19px 13px 19px;
    color: rgb(30, 72, 148);
    font-family: "Work-sans, Medium";
    font-size: 14.7px;
    border-radius: 8px;
    margin-right: 1rem;
  }