<div class="container-fluid p-5">
    <h4 class="company-detail mb-4">Address Details</h4>

    <div>

        <form class="needs-validation borders p-10 mb-4" novalidate>
            <div class="row g-3 p-3">
                <div class="col-md-12 mt-4">
                    <label for="validationCustom01" class="form-label company">No & Street/Road *</label>
                    <input type="text" class="form-control company-input" id="validationCustom01" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <label for="validationCustom02" class="form-label company">Apartment, Building, Flat </label>
                    <input type="text" class="form-control company-input" id="validationCustom02" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom04" class="form-label company">Area *</label>
                    <select class="form-select select-category" id="validationCustom04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom04" class="form-label company">City *</label>
                    <select class="form-select select-category" id="validationCustom04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom04" class="form-label company">State / Province</label>
                    <select class="form-select select-category" id="validationCustom04" required>
                        <option selected disabled value="">State / Province</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom04" class="form-label company">Country *</label>
                    <select class="form-select select-category" id="validationCustom04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="validationCustom04" class="form-label company">Zip Code*</label>
                    <input type="text" class="form-control company-input" id="validationCustom02" value=""
                        placeholder="ENTER" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>
        </form>
        <div class="row g-3 mt-3 mb-4">
            <div class="col mt-4">
                <div class="btn clear">CLEAR</div>
            </div>
            <div class="col mt-4">
                <div class="btn save">SAVE</div>
            </div>
        </div>
    </div>

</div>