

.container-fluid{
  background-color: #fff;
}

// #wrapper #content-wrapper {
//   background-color: #fff;
//   width: 100%;
//   overflow-x: hidden;
// }

// #wrapper #content-wrapper #content {
//   flex: 1 0 auto;
//   background: #fff;
// }

.table-header {
  background: #EBEEF6;
  color: #979AA5;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Work-sans, Medium';
  font-weight: 600;
}

.t-body {
  color: #4C4D52;
  font-size: 17px;
  font-family: "Work-sans, Medium";
}

.filter {
  border: 2px solid #1E4894;
  padding: 13px 19px 13px 19px;
  color: rgb(30, 72, 148);
  font-family: "Work-sans, Medium";
  font-size: 14.7px;
  border-radius: 8px;
  margin-right: 1rem;
}


.t-progress {
  border-radius: 2rem;
  background: #E3F0E9;
  font-family: "Work-sans, Medium";
  color: #00B79D;
  text-align: center;
  font-size: 16px;
  padding: 5px 1px 5px 1px;
}

.scroll{
  overflow: auto;
}

.h-2{
  height: 2.5rem;
}

.search-icon {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 19px;
  color: rgb(172, 170, 174);
}

.search-pading {
  padding: 3px 3px 3px 41px;
  color: #5A555D;
}

.h-52 {
  height: 52px;
}





/* PAGINATION */


.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}


.page-item:first-child .page-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

/* .page-item:first-child .pages-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
} */

.page-links {
  padding: .375rem .75rem;
}

.pages-links {
  padding: .375rem .75rem;
}

.page-links {
  position: relative;
  display: block;
  font-size: 10px;
  font-family: 'Work-Sans-Medium';
  color: #303030;
  text-decoration: none;
  background-color: transparent;
  /* border: 1px solid #dee2e6; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pages-links {
  position: relative;
  display: block;
  width: 5rem;
  font-size: 10px;
  text-align: center;
  font-family: 'Work-Sans-Medium';
  color: #303030;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #000000;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item:not(:first-child) .page-links {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-item:not(:first-child) .pages-links {
  margin-left: -1px;
}

.page-links:hover {
  z-index: 2;
  color: #965BA5;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.pages-links:hover {
  z-index: 2;
  color: #965BA5;
  background-color: #e9ecef;
  border-color: #dee2e6;
}











@media (min-width: 380px)  {
  .container-fluid{
      height: 100vh;
  }
}
