

.container-fluid{
  background-color: #fff;
}

.padding{
  padding: 2rem 3rem;
}

.search-for{
  color: #46444F;
  font-family: 'Poppins, Medium';
  font-size: 23px;
  font-weight: 500;
  opacity: 0.7;
}

// #wrapper #content-wrapper {
//   background-color: #fff;
//   width: 100%;
//   overflow-x: hidden;
// }

// #wrapper #content-wrapper #content {
//   flex: 1 0 auto;
//   background: #fff;
// }

.search-border{
  border: 2px solid rgb(172, 187, 218);
}

.table-header {
  background: #EBEEF6;
  color: #979AA5;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Work-sans, Medium';
  font-weight: 600;
}

.t-body {
  color: #4C4D52;
  font-size: 17px;
  font-family: "Work-sans, Medium";
}

.filter {
  border: 2px solid #1E4894;
  padding: 14px 18px 14px 18px;
  color: rgb(30, 72, 148);
  font-family: "Work-sans, Medium";
  font-size: 13.739px;
  border-radius: 8px;
  margin-right: 1rem;
}

img.img-filter{
  width: 16px;
height: 14.4px;
}


.t-progress {
  border-radius: 2rem;
  background: #E3F0E9;
  font-family: "Work-sans, Medium";
  color: #00B79D;
  text-align: center;
  font-size: 16px;
  padding: 5px 1px 5px 1px;
}

.scroll{
  overflow: auto;
}

.h-2{
  height: 2.5rem;
}

.search-icon {
  position: absolute;
  top: 17px;
  left: 23px;
  width: 19px;
  color: rgb(172, 170, 174);
}

.search-pading {
  padding: 3px 3px 3px 41px;
    color: #5A555D;
    opacity: 0.5;
    width: 468px;
}

.h-52 {
  height: 52px;
}





/* PAGINATION */


.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: start;
  align-items: center;
}


.page-item:first-child .page-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

/* .page-item:first-child .pages-links {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
} */

.page-links {
  padding: .375rem .75rem;
}

.pages-links {
  padding: .375rem .75rem;
}

.page-links {
  position: relative;
  display: block;
  // font-size: 15px;
  font-weight: 500;
  color: #303030;
  opacity: 0.6000000238418579;
  text-align: center;
  font-family: 'Roboto, Medium';
  text-decoration: none;
  width: 37px;
  height: 36px;
  background-color: transparent;
  /* border: 1px solid #dee2e6; */
  // transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.pages-links {
  position: relative;
  display: block;
  padding: 0.7rem 2.5rem;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto, Medium";
  color: #303030;
  text-decoration: none;
  border: 0.5px solid rgba(5, 5, 5, 0.50);
  background: rgba(255, 255, 255, 0.20);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.page-item:not(:first-child) .page-links {
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-item:not(:first-child) .pages-links {
  margin-left: -1px;
}

.page-links:hover {
  // z-index: 2;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto, Medium';
  background-color: #285198;
  // border-color: #285198;
  border-radius: 2rem;
  width: 37px;
  height: 36px;
  // padding: 4px 11px;
}

.pages-links:hover {
  // z-index: 2;
  color: #285198;
  font-family: 'Roboto, Medium';
  font-size: 10px;
  background-color: #fff;
  border-color: #285198;
}


.all-order {
  font-size: 18px;
  font-family: "Poppins, Medium";
  color: #6B6D75;
  font-weight: 500;
}








@media (min-width: 1024px)  {
  // .container-fluid{
  //     height: 100vh;
  // }
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: end;
    align-items: center;
  }
}
