.container-fluid {
    // padding: 0px;
    // background-color: #fff;
}

img.user {
    width: 49px;
    height: 49px;
    border-radius: 49px;
}

img.phoneA {
    width: 19px;
    height: 19px;
}

img.envelopeA {
    width: 19px;
    height: 19px;
}

.invoice-summary {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 24px;
    font-weight: 500;
    // width: 1440px;
    height: 80px;
    background: #EBEEF6;
    padding: 21px;
}

.invoice-card {
    width: 821px;
    padding: 0px 0px 47px 30px;
    // height: 651px;
    background: #FFF;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
}

.detail-h {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0.699999988079071;
}



.invoice-detail {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
}



.border-left {
    border-left: 1px solid #D7DFEC;
}

.check-outline {
    // width: 483px;
    height: 39px;
    background: #EBEEF6;
}

.check-out {
    color: #1D4893;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    padding: 9px 1px;
}


.i-time {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    opacity: 0.699999988079071;
}

.i-discount {
    width: 125px;
    height: 39px;
    border-radius: 30px;
    background: #EBEEF6;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 9px;
}

.bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
    text-align: end;
}

.total {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
}

.p-delivery {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    // margin-left: 15px;
}

img.f-timer {
    width: 40px;
    height: 40px;
}

.print-invoice {
    width: 285px;
    height: 52px;
    border-radius: 8px;
    background: #1E4894;
    color: #FFF;
    font-family: "Work-sans, Medium";
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
}


.bg-invoice {
    background: #FFF;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 65px 0px;
}

.padding-5 {
    padding-bottom: 5rem;
}



img.shirt {
    width: 53px;
    height: 53px;
}

.product {
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background: #FFF;
    width: 71px;
    height: 71px;
    padding: 6px 8px;
}

.p-name {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
}

.invoice-topic {
    color: #000;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.dry-clean {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6000000238418579;
}

.summary-bhd {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 600;
}

.pickup {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    opacity: 0.699999988079071;
}

.pickup-time {
    color: #000;
    font-family: "Poppins, Medium";
    font-size: 16px;
    opacity: 0.5;
    font-weight: 500;
}

.ironing-type {
    text-align: center;
    padding: 6px;
    width: 90px;
    height: 37px;
    background: #f7f7f7;
    color: #7f7f7f;
    font-family: "Poppins, Medium";
    font-size: 16px;
    font-weight: 500;
}


.track-status {
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
}

.order-booked {
    padding: 9px 20px;
    width: 221px;
    height: 42px;
    background: #d2daea;
    color: #1E4894;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    border-radius: 0px;
}


.order-update {
    padding: 9px 20px;
    width: 182px;
    height: 42px;
    background: #1E4894;
    color: #FFF;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    border-radius: 0px;
}


.modal-header-name {
    color: #000;
    font-size: 20px;
    font-family: "Poppins, Medium";
    align-items: baseline;
}

button.close {
    background: transparent;
    border: transparent;
}

.h-filter {
    color: #534D58;
    font-size: 20px;
    font-family: "Work-sans, Medium";
    font-weight: 600;
}

.form-select {
    display: block;
    width: 100%;
    height: 53px;
    color: #d7d8db;
    font-family: "Work-sans, Medium";
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #fff;
    background: url("~src/assets/images/select.svg") no-repeat;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}

.form-select:focus {
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25)
}

.clear {
    border-radius: 4px;
    border: 1.5px solid #285198;
    background: #F3F5F9;
    font-family: "Work-sans, Medium";
    color: #285198;
    font-size: 20px;
    width: inherit;
    padding: 11px;
}

.save {
    border-radius: 4px;
    background: #285198;
    color: #FCFBFD;
    font-size: 20px;
    font-family: "Work-sans, Medium";
    width: inherit;
    padding: 11px;
}


.m-customer {
    color: #46444F;
    font-family: "Poppins, Medium";
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.m-booked {
    width: 115px;
    height: 35px;
    border-radius: 30px;
    background: #4676B5;
    color: #FFF;
    font-family: "Work-sans, Medium";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 3px;
}

.words {
    position: absolute;
    right: 1rem;
    top: 4px;
    color: #4C4D52;
    font-family: "Work-sans, Medium";
    opacity: 0.4;
    font-size: 18px;
    font-weight: 500;
}




















// SWITCH RADIO BUTTON

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
    vertical-align: sub;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f00;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 19px;
    left: 6px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: rgba(115, 211, 56, 1);
}

input:focus+.slider {
    box-shadow: 0 0 1px rgba(115, 211, 56, 1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}






// DATE


input[type="date"] {
    display: block;
    position: relative;
    padding: 8px 100px 7px 13px;
    font-family: 'Poppins, Medium';
    color: #9A9B9F;
    font-size: 15px;
    border: 1px solid #E3E3E3;
    background:
        white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;

    cursor: pointer;
}

input[type="date"]:focus {
    outline: none;
    border-color: #3acfff;
    box-shadow: 0 0 0 0.25rem rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit {}

::-webkit-datetime-edit-fields-wrapper {}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background: rgba(0, 120, 250, 0.1);
}

::-webkit-datetime-edit-text {
    opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 120, 250, 1);
    background: rgba(0, 120, 250, 1);

}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

input[type="date"]:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}



//TIME

.time-form {
    padding: 8px 32px 7px 32px;
    border: 1px solid #E3E3E3;
    font-family: "Poppins, Medium";
    color: #9A9B9F;
    font-size: 15px;
    font-weight: 500;
}













/*MODAL*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    /* width: 320px; */
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    // overflow-y: auto;
}

.modal-body {
    // max-height: calc(100vh - 200px);
    overflow-y: auto;
}

// .modal.left .modal-body,
// .modal.right .modal-body {
// 	padding: 15px 15px 80px;
// }


/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}



.demo {
    padding-top: 60px;
    padding-bottom: 110px;
}

.btn-demo {
    margin: 15px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

.btn-demo:focus {
    outline: 0;
}

button.close {
    background: transparent;
    border: transparent;
}





















/* MOBILE SCREEN */



/* Mobile Size Media Queries */

@media only screen and (max-width:768px) {
    .container-fluid {
        background-color: #fff;
    }


}





// Tablet Size Media Queries 

@media (min-width:768px) and (max-width:1024px) {}




// Nest Hub Size Media Queries  ( Zoom in 125)

@media (min-width:1024px) and (max-width:1280px) {


    .track-status {
        color: #1E4894;
        font-family: "Poppins, Medium";
        font-size: 18px;
        font-weight: 500;
        position: relative;
        right: 40px;
        width: 10rem;
    }

    .order-booked {
        padding: 9px 20px;
        width: 185px;
        height: 42px;
        background: #d2daea;
        color: #1E4894;
        font-family: "Poppins, Medium";
        font-size: 18px;
        font-weight: 500;
        border-radius: 0px;
    }

    .order-update {
        padding: 9px 20px;
        width: 185px;
        height: 42px;
        background: #1E4894;
        color: #FFF;
        font-family: "Poppins, Medium";
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        border-radius: 0px;
    }

    .orderDetail-p {
        padding: 1rem;
    }

}



//Zoom in 110 //

@media (min-width:1280px) and (max-width:1480px) {}