.poppins-bold {
    font-family: "Poppins, Bold";
}

.poppins-semibold {
    font-family: "Poppins, SemiBold";
}

.poppins-medium {
    font-family: "Poppins, Medium";
}

.poppins-regular {
    font-family: "Poppins, Regular";
}

.poppins-light {
    font-family: "Poppins, Light";
}


.users {
    color: #3960A1;
    font-size: 20px;
    font-family: "Poppins, SemiBold";
}

.dashboard {
    padding: 10px;
    // background-color: #fff;
}

#wrapper #content-wrapper {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
    background: #fff;
}

.table-header {
    background: #EBEEF6;
    color: #979AA5;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "Poppins, SemiBold";
}

.filter {
    border: 2px solid #cdd7e7;
    padding: 9px 11px 9px 11px;
    color: rgba(30, 72, 148, 1);
    font-family: "Poppins, Medium";
    font-size: 16px;
    border-radius: 8px;
    margin-right: 1rem;
    // width: fit-content;
}


.t-progress {
    border-radius: 2rem;
    background: #E3F0E9;
    font-family: "Poppins, Medium";
    color: #00B79D;
    text-align: center;
    font-size: 12px;
    padding: 4px 7px 4px 7px;
}

.t-body {
    color: #4C4D52;
    font-size: 15px;
    font-family: "Poppins, Medium";
}

.scroll {
    overflow: auto;
}

.h-2 {
    height: 2.5rem;
}

.new-user {
    border-radius: 8px;
    border: 2px solid #cdd7e7;
    padding: 11px;
    font-family: "Poppins, Medium";
    color: #000;
    font-size: 15px;
}

.all-customer {
    color: #898A93;
    font-size: 18px;
    font-family: "Poppins, Medium";
}