

<div>
    
    <div class="row mb-2 text-black poppins-medium item-center">
        <div class="col-4">
            <h4 class="users">USERS</h4>
        </div>
        <div class="col text-right">
            <div class="btn new-user"> <img src="assets/images/add.png" alt="download">&nbsp; Add New User </div>&nbsp; <div class="btn filter"> <img src="assets/images/filter.png" alt="filter">&nbsp; Filter</div>
        </div>
    </div>
    <h4 class="all-customer">All Customers</h4>
    <div class="row mt-4 scroll">
        <div class="col">
            <table class="table border">
                
                <thead>
                    <tr class="table-header">
                        <th class="text-center" scope="col">name</th>
                        <th scope="col">emailid</th>
                        <th scope="col">user name</th>
                        <th scope="col">role</th>
                        <th scope="col">mobile</th>
                        <th class="text-center" scope="col">status</th>
                        <th class="text-center" scope="col">action</th>
                    </tr>
                </thead>
                <tbody class="t-body">
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"><img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">John</td>
                        <td>fjerome@e.com</td>
                        <td>John5</td>
                        <td>Admin</td>
                        <td>928728282</td>
                        <td><div class="t-progress">ACTIVE</div></td>
                        <td class="text-center"> <a href="javascript:void(0);" routerLink="#"> <img src="assets/images/write.png" alt="write">&nbsp; <img src="assets/images/bin.png" alt="view"> </a></td>
                    </tr>
                    
                </tbody>
            </table>

        </div>

    </div>

</div>